opcserver-withcontext
[{"id":"96df9d1b.b1b87","type":"tab","label":"Context Flex-Server","disabled":false,"info":""},{"id":"7130e2b7.118f4c","type":"inject","z":"96df9d1b.b1b87","name":"","repeat":"1","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":230,"y":120,"wires":[["f7acaa05.137278"]]},{"id":"f7acaa05.137278","type":"function","z":"96df9d1b.b1b87","name":"set flow context Inputs","func":"// global.set('isoInput1', Math.random() + 11.0) interval comes from server\nglobal.set('isoInput2', Math.random() + 12.0)\nglobal.set('isoInput3', Math.random() + 13.0)\nglobal.set('isoInput4', Math.random() + 14.0)\nglobal.set('isoInput5', Math.random() + 15.0)\nglobal.set('isoInput6', Math.random() + 16.0)\nglobal.set('isoInput7', Math.random() + 17.0)\nglobal.set('isoInput8', Math.random() + 18.0)\n\nmsg.payload = [\n    global.get('isoInput1'),\n    global.get('isoInput2'),\n    global.get('isoInput3'),\n    global.get('isoInput4'),\n    global.get('isoInput5'),\n    global.get('isoInput6'),\n    global.get('isoInput7'),\n    global.get('isoInput8'),\n]\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":470,"y":120,"wires":[["297389f1.32cfb6"]]},{"id":"297389f1.32cfb6","type":"debug","z":"96df9d1b.b1b87","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":120,"wires":[]},{"id":"32e33b26.ffaa34","type":"function","z":"96df9d1b.b1b87","name":"set flow context Outputs","func":"// global.set('isoOutput1', Math.random() + 1.0) interval comes from server\nglobal.set('isoOutput2', Math.random() + 2.0)\nglobal.set('isoOutput3', Math.random() + 3.0)\nglobal.set('isoOutput4', Math.random() + 4.0)\nglobal.set('isoOutput5', Math.random() + 5.0)\nglobal.set('isoOutput6', Math.random() + 6.0)\nglobal.set('isoOutput7', Math.random() + 7.0)\nglobal.set('isoOutput8', Math.random() + 8.0)\n\nmsg.payload = [\n    global.get('isoOutput1'),\n    global.get('isoOutput2'),\n    global.get('isoOutput3'),\n    global.get('isoOutput4'),\n    global.get('isoOutput5'),\n    global.get('isoOutput6'),\n    global.get('isoOutput7'),\n    global.get('isoOutput8'),\n]\nreturn msg;","outputs":1,"timeout":"","noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":180,"wires":[["463d4abe.8847ec"]]},{"id":"10b25957.46f07f","type":"inject","z":"96df9d1b.b1b87","name":"","repeat":"1","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":230,"y":180,"wires":[["32e33b26.ffaa34"]]},{"id":"463d4abe.8847ec","type":"debug","z":"96df9d1b.b1b87","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":720,"y":180,"wires":[]},{"id":"af7aa8a.6c2e058","type":"OPCUA-IIoT-Flex-Server","z":"96df9d1b.b1b87","port":"53880","endpoint":"","acceptExternalCommands":true,"maxAllowedSessionNumber":"","maxConnectionsPerEndpoint":"","maxAllowedSubscriptionNumber":"","alternateHostname":"","name":"","showStatusActivities":false,"showErrors":false,"allowAnonymous":true,"individualCerts":false,"isAuditing":false,"serverDiscovery":true,"users":[],"xmlsets":[],"publicCertificateFile":"","privateCertificateFile":"","registerServerMethod":"1","discoveryServerEndpointUrl":"","capabilitiesForMDNS":"","maxNodesPerRead":1000,"maxNodesPerBrowse":2000,"delayToClose":1000,"addressSpaceScript":"function constructAlarmAddressSpace(server, addressSpace, eventObjects, done) {\n    let namespace = addressSpace.getOwnNamespace();\n    let rootFolder = addressSpace.findNode(\"RootFolder\");\n\n    console.warn('Starting construction of new address space for OPC UA');\n\n    let globalData = namespace.addFolder(rootFolder.objects, { browseName: \"GlobalData\" });\n\n    function inferDataType(value) {\n        if (typeof value === 'number') return opcua.DataType.Double;\n        else if (typeof value === 'boolean') return opcua.DataType.Boolean;\n        else if (typeof value === 'string') return opcua.DataType.String;\n        return opcua.DataType.String; // Default case for other types\n    }\n\n    function constructPath(previousPath, currentKey) {\n        // Construct a path in the format \"aa['bb']\" to support special characters including Chinese\n        return previousPath ? `${previousPath}['${currentKey}']` : currentKey;\n    }\n\n    function addItemsFromContext(parentNode, context, path) {\n        let value = context.get(path); // Directly use the constructed path\n\n        let name = path.split(\"['\").pop().split(\"']\")[0]; // Extract the last segment of the path for the name\n\n        if (typeof value === 'object' && !Array.isArray(value)) {\n            let newFolder = namespace.addFolder(parentNode, { browseName: name });\n            Object.keys(value).forEach(key => {\n                let nestedPath = constructPath(path, key);\n                addItemsFromContext(newFolder, context, nestedPath); // Recurse with updated path\n            });\n        } else {\n            let dataType = inferDataType(value);\n            namespace.addVariable({\n                componentOf: parentNode,\n                nodeId: `ns=1;s=${path}`, // Use path directly or apply necessary transformations for nodeId\n                browseName: name,\n                dataType: dataType,\n                value: {\n                    get: () => new opcua.Variant({ dataType, value: context.get(path) }),\n                    set: (variant) => {\n                        context.set(path, variant.value); // Set the value using the same path\n                        return opcua.StatusCodes.Good;\n                    }\n                },\n            });\n        }\n    }\n\n    let context = this.sandboxGlobalContext; // Or any other context object you're working with\n    context.keys().forEach(key => {\n        let initialPath = constructPath('', key); // Start with top-level keys\n        addItemsFromContext(globalData, context, initialPath);\n    });\n\n    console.warn('Construction of new address space for OPC UA done');\n\n    done();\n}\n","x":670,"y":880,"wires":[[]]},{"id":"76e1f58a1b9e157c","type":"inject","z":"96df9d1b.b1b87","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"Moonshot Corp\",\"founded\":2020,\"headquarters\":{\"城市\":\"Shanghai\",\"国家\":\"China\"}}","payloadType":"json","x":310,"y":640,"wires":[["9cab5c8e56eceafb"]]},{"id":"9cab5c8e56eceafb","type":"change","z":"96df9d1b.b1b87","name":"","rules":[{"t":"set","p":"plcdata","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":570,"y":700,"wires":[[]]},{"id":"55166052f0244cf8","type":"inject","z":"96df9d1b.b1b87","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"{\"name\":\"Moonshot Corp\",\"founded\":2020}","payloadType":"json","x":310,"y":720,"wires":[["9cab5c8e56eceafb"]]}]
