凯盛电子.json
[
    {
        "id": "7a9cd0aa4e548fa5",
        "type": "tab",
        "label": "流程 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bab2e136a526491c",
        "type": "Opcua-Endpoint-Instance",
        "endpoint": "opc.tcp://192.168.1.1:4840",
        "user": "",
        "password": "",
        "secpolicy": "None",
        "secmode": "None"
    },
    {
        "id": "c4453633c252d3a1",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://192.168.1.1:4840",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "LOCAL SERVER",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "8f2fdfd1151f83e3",
        "type": "Opcua-Browse-Subscribe",
        "z": "7a9cd0aa4e548fa5",
        "name": "",
        "endpoint": "bab2e136a526491c",
        "topic": "ns=4;s=MES",
        "time": "50",
        "timeUnit": "ms",
        "nodeClass": "2",
        "dataType": "All",
        "crushResCheckedItems": true,
        "items": [
            {
                "nodeId": "ns=4;s=MES",
                "name": "MES",
                "dataType": "Unknown"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息",
                "name": "统计信息",
                "dataType": "Unknown"
            },
            {
                "nodeId": "ns=4;s=MES.上传数据",
                "name": "上传数据",
                "dataType": "Unknown"
            },
            {
                "nodeId": "ns=4;i=50016",
                "name": "统计信息",
                "dataType": "Unknown"
            },
            {
                "nodeId": "ns=4;i=50067",
                "name": "上传数据",
                "dataType": "Unknown"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[0]",
                "name": "0",
                "dataType": "Unknown"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[1]",
                "name": "1",
                "dataType": "Unknown"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[2]",
                "name": "2",
                "dataType": "Unknown"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[3]",
                "name": "3",
                "dataType": "Unknown"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[4]",
                "name": "4",
                "dataType": "Unknown"
            },
            {
                "nodeId": "ns=4;s=MES.上传数据.绝缘耐压mA",
                "name": "绝缘耐压mA",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;s=MES.上传数据.绝缘电阻MΩ",
                "name": "绝缘电阻MΩ",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;s=MES.上传数据.匝间耐压百分比",
                "name": "匝间耐压百分比",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;s=MES.上传数据.电阻测试Ω",
                "name": "电阻测试Ω",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;s=MES.上传数据.激光打标",
                "name": "激光打标",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;s=MES.上传数据.数据发送信号",
                "name": "数据发送信号",
                "dataType": "Boolean"
            },
            {
                "nodeId": "ns=4;s=MES.上传数据.数据反馈",
                "name": "数据反馈",
                "dataType": "Boolean"
            },
            {
                "nodeId": "ns=4;i=50017",
                "name": "0",
                "dataType": "Unknown"
            },
            {
                "nodeId": "ns=4;i=50027",
                "name": "1",
                "dataType": "Unknown"
            },
            {
                "nodeId": "ns=4;i=50037",
                "name": "2",
                "dataType": "Unknown"
            },
            {
                "nodeId": "ns=4;i=50047",
                "name": "3",
                "dataType": "Unknown"
            },
            {
                "nodeId": "ns=4;i=50057",
                "name": "4",
                "dataType": "Unknown"
            },
            {
                "nodeId": "ns=4;i=50068",
                "name": "绝缘耐压mA",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;i=50069",
                "name": "绝缘电阻MΩ",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;i=50070",
                "name": "匝间耐压百分比",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;i=50071",
                "name": "电阻测试Ω",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;i=50072",
                "name": "激光打标",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;i=50073",
                "name": "数据发送信号",
                "dataType": "Boolean"
            },
            {
                "nodeId": "ns=4;i=50074",
                "name": "数据反馈",
                "dataType": "Boolean"
            },
            {
                "nodeId": "ns=4;i=50000",
                "name": "项目名称",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;i=50001",
                "name": "投入数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;i=50002",
                "name": "产出数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;i=50003",
                "name": "不良数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;i=50004",
                "name": "运行时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;i=50005",
                "name": "待机时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;i=50006",
                "name": "停机时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;i=50007",
                "name": "故障时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;i=50008",
                "name": "周期时间（秒）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[0].项目名称",
                "name": "项目名称",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[0].投入数量",
                "name": "投入数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[0].产出数量",
                "name": "产出数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[0].不良数量",
                "name": "不良数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[0].运行时间（分）",
                "name": "运行时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[0].待机时间（分）",
                "name": "待机时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[0].停机时间（分）",
                "name": "停机时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[0].故障时间（分）",
                "name": "故障时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[0].周期时间（秒）",
                "name": "周期时间（秒）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[1].项目名称",
                "name": "项目名称",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[1].投入数量",
                "name": "投入数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[1].产出数量",
                "name": "产出数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[1].不良数量",
                "name": "不良数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[1].运行时间（分）",
                "name": "运行时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[1].待机时间（分）",
                "name": "待机时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[1].停机时间（分）",
                "name": "停机时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[1].故障时间（分）",
                "name": "故障时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[1].周期时间（秒）",
                "name": "周期时间（秒）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[2].项目名称",
                "name": "项目名称",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[2].投入数量",
                "name": "投入数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[2].产出数量",
                "name": "产出数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[2].不良数量",
                "name": "不良数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[2].运行时间（分）",
                "name": "运行时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[2].待机时间（分）",
                "name": "待机时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[2].停机时间（分）",
                "name": "停机时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[2].故障时间（分）",
                "name": "故障时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[2].周期时间（秒）",
                "name": "周期时间（秒）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[3].项目名称",
                "name": "项目名称",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[3].投入数量",
                "name": "投入数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[3].产出数量",
                "name": "产出数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[3].不良数量",
                "name": "不良数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[3].运行时间（分）",
                "name": "运行时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[3].待机时间（分）",
                "name": "待机时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[3].停机时间（分）",
                "name": "停机时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[3].故障时间（分）",
                "name": "故障时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[3].周期时间（秒）",
                "name": "周期时间（秒）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[4].项目名称",
                "name": "项目名称",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[4].投入数量",
                "name": "投入数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[4].产出数量",
                "name": "产出数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[4].不良数量",
                "name": "不良数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[4].运行时间（分）",
                "name": "运行时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[4].待机时间（分）",
                "name": "待机时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[4].停机时间（分）",
                "name": "停机时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[4].故障时间（分）",
                "name": "故障时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;s=MES.统计信息[4].周期时间（秒）",
                "name": "周期时间（秒）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;i=50009",
                "name": "绝缘耐压mA",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;i=50010",
                "name": "绝缘电阻MΩ",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;i=50011",
                "name": "匝间耐压百分比",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;i=50012",
                "name": "电阻测试Ω",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;i=50013",
                "name": "激光打标",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;i=50014",
                "name": "数据发送信号",
                "dataType": "Boolean"
            },
            {
                "nodeId": "ns=4;i=50015",
                "name": "数据反馈",
                "dataType": "Boolean"
            },
            {
                "nodeId": "ns=4;i=50018",
                "name": "项目名称",
                "dataType": "String"
            },
            {
                "nodeId": "ns=4;i=50019",
                "name": "投入数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;i=50020",
                "name": "产出数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;i=50021",
                "name": "不良数量",
                "dataType": "UInt16"
            },
            {
                "nodeId": "ns=4;i=50022",
                "name": "运行时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;i=50023",
                "name": "待机时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;i=50024",
                "name": "停机时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;i=50025",
                "name": "故障时间（分）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;i=50026",
                "name": "周期时间（秒）",
                "dataType": "UInt32"
            },
            {
                "nodeId": "ns=4;i=50028",
                "name": "项目名称",
                "dataType": "String"
            }
        ],
        "checkedItems": [
            {
                "name": "MES",
                "nodeId": "ns=4;s=MES",
                "dataType": "Unknown"
            },
            {
                "name": "数据发送信号",
                "nodeId": "ns=4;s=MES.上传数据.数据发送信号",
                "dataType": "Boolean"
            }
        ],
        "isCheckedItemsChanged": false,
        "x": 240,
        "y": 340,
        "wires": [
            [
                "396dfd9f41c2efc8"
            ]
        ]
    },
    {
        "id": "657999f08c30e4bb",
        "type": "debug",
        "z": "7a9cd0aa4e548fa5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 340,
        "wires": []
    },
    {
        "id": "396dfd9f41c2efc8",
        "type": "function",
        "z": "7a9cd0aa4e548fa5",
        "name": "",
        "func": "\nconst jsonObject = JSON.stringify(msg.payload)\nmsg.payload=JSON.parse(jsonObject)\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 340,
        "wires": [
            [
                "657999f08c30e4bb",
                "f1b1a0ef40a3a323",
                "2f3887078ba897fa",
                "e2f552fbc841a753"
            ]
        ]
    },
    {
        "id": "ae8d1bd7c4d71ab2",
        "type": "OPCUA-IIoT-Node",
        "z": "7a9cd0aa4e548fa5",
        "injectType": "write",
        "nodeId": "ns=4;s=MES.上传数据.数据反馈",
        "datatype": "Boolean",
        "value": "true",
        "name": "MES.上传数据.数据反馈",
        "topic": "",
        "showErrors": false,
        "x": 750,
        "y": 480,
        "wires": [
            [
                "3db00788dc73a553"
            ]
        ]
    },
    {
        "id": "f1b1a0ef40a3a323",
        "type": "function",
        "z": "7a9cd0aa4e548fa5",
        "name": "上升沿",
        "func": "if (msg.name ==\"数据发送信号\"&&msg.payload===true){\n   //  node.warn(global.get(\"OPC\")[\"上传数据\"])\n    let mesdata = global.get(\"OPC\")[\"上传数据\"]\n   for (let prop in mesdata) {\n       if (mesdata.hasOwnProperty(prop)) {\n           if(typeof(mesdata[prop])===\"string\"){\n               mesdata[prop] = mesdata[prop].replace(/[\\r\\n]+/g, \"\")\n           }\n       }\n   }\n    const { 数据发送信号, 数据反馈, 激光打标, ...data } = mesdata\n\n    msg.payload = {\n        code: 激光打标,\n        station: \"产品下料\",\n        ...data\n    }\n    return msg\n\n\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 440,
        "wires": [
            [
                "1619f2f165e0d60b",
                "ae8d1bd7c4d71ab2",
                "b8841618c762b893"
            ]
        ]
    },
    {
        "id": "d61b292ef5a805e4",
        "type": "change",
        "z": "7a9cd0aa4e548fa5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "OPC",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 750,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "2f3887078ba897fa",
        "type": "switch",
        "z": "7a9cd0aa4e548fa5",
        "name": "",
        "property": "name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "MES",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 590,
        "y": 300,
        "wires": [
            [
                "d61b292ef5a805e4"
            ]
        ]
    },
    {
        "id": "1619f2f165e0d60b",
        "type": "debug",
        "z": "7a9cd0aa4e548fa5",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 760,
        "y": 420,
        "wires": []
    },
    {
        "id": "3db00788dc73a553",
        "type": "OPCUA-IIoT-Write",
        "z": "7a9cd0aa4e548fa5",
        "connector": "c4453633c252d3a1",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 970,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "e581c406ddd9e5cd",
        "type": "inject",
        "z": "7a9cd0aa4e548fa5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 510,
        "y": 500,
        "wires": [
            [
                "ae8d1bd7c4d71ab2"
            ]
        ]
    },
    {
        "id": "80de639eabe33647",
        "type": "http request",
        "z": "7a9cd0aa4e548fa5",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:5000/api/testData/JSON",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 940,
        "y": 660,
        "wires": [
            [
                "090729e08f23dcdd"
            ]
        ]
    },
    {
        "id": "b8841618c762b893",
        "type": "function",
        "z": "7a9cd0aa4e548fa5",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 660,
        "wires": [
            [
                "80de639eabe33647"
            ]
        ]
    },
    {
        "id": "b28e4d58ea4644dc",
        "type": "function",
        "z": "7a9cd0aa4e548fa5",
        "name": "function 3",
        "func": "\n   //  node.warn(global.get(\"OPC\")[\"上传数据\"])\n    const {数据发送信号, 数据反馈, 激光打标 ,...data} = global.get(\"OPC\")[\"上传数据\"]\n   \n    msg.payload={\n        code:激光打标,\n        station:\"产品下料\",\n        ...data\n    }\n    return msg\n\n\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 660,
        "wires": [
            [
                "b8841618c762b893",
                "56f59f15da6c49d3"
            ]
        ]
    },
    {
        "id": "36457b94ca61a742",
        "type": "inject",
        "z": "7a9cd0aa4e548fa5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 350,
        "y": 660,
        "wires": [
            [
                "b28e4d58ea4644dc"
            ]
        ]
    },
    {
        "id": "090729e08f23dcdd",
        "type": "debug",
        "z": "7a9cd0aa4e548fa5",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 640,
        "wires": []
    },
    {
        "id": "56f59f15da6c49d3",
        "type": "debug",
        "z": "7a9cd0aa4e548fa5",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 740,
        "wires": []
    },
    {
        "id": "e2f552fbc841a753",
        "type": "function",
        "z": "7a9cd0aa4e548fa5",
        "name": "function 4",
        "func": "if (msg.name ==\"数据发送信号\"&&msg.payload===false){\n   //  node.warn(global.get(\"OPC\")[\"上传数据\"])\n\n\n    return msg\n}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 540,
        "wires": [
            [
                "cf0fcf6e61882ff3"
            ]
        ]
    },
    {
        "id": "cf0fcf6e61882ff3",
        "type": "OPCUA-IIoT-Node",
        "z": "7a9cd0aa4e548fa5",
        "injectType": "write",
        "nodeId": "ns=4;s=MES.上传数据.数据反馈",
        "datatype": "Boolean",
        "value": "false",
        "name": "MES.上传数据.数据反馈",
        "topic": "",
        "showErrors": false,
        "x": 710,
        "y": 540,
        "wires": [
            [
                "3db00788dc73a553"
            ]
        ]
    }
]