印度RS20210020.json
[{"id":"9594c1b94bfa2261","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"7c9ad0b3caae19a6","type":"serial request","z":"9594c1b94bfa2261","name":"","serial":"7e4eb97649eaafeb","x":470,"y":320,"wires":[["e9b87c900ce87c1b","b181dc27d6f46a0b","48fe57cdf3a5ea95"]]},{"id":"adf9045cbd2f7331","type":"inject","z":"9594c1b94bfa2261","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":280,"wires":[["2cd5fafa401107d2"]]},{"id":"2cd5fafa401107d2","type":"template","z":"9594c1b94bfa2261","name":"fetch?","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"fetch?\n","output":"str","x":290,"y":300,"wires":[["7c9ad0b3caae19a6"]]},{"id":"e9b87c900ce87c1b","type":"debug","z":"9594c1b94bfa2261","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":660,"y":300,"wires":[]},{"id":"d1b55c9e1b8951d9","type":"tcp in","z":"9594c1b94bfa2261","name":"","server":"server","host":"","port":"23250","datamode":"stream","datatype":"buffer","newline":"","topic":"","trim":false,"base64":false,"tls":"","x":100,"y":180,"wires":[["2cd5fafa401107d2"]]},{"id":"b181dc27d6f46a0b","type":"function","z":"9594c1b94bfa2261","name":"function 1","func":"let splits=msg.payload.split(':');\nlet obj={\n    step:splits[0],\n    func:splits[1],\n    data:[]\n}\nlet items=splits[2].split(';')\nfor (const item of items) {\n    let wds=item.split(',')\n    obj.data.push({\n        unit:wds[0],\n        condition:wds[1],\n        value:wds[2],\n        result:wds[3].trim()\n    })\n}\nmsg.payload=obj\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":460,"wires":[["ec99c52b7293434f","b61177a0e0bad9da"]]},{"id":"ec99c52b7293434f","type":"debug","z":"9594c1b94bfa2261","name":"debug 2","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":440,"y":560,"wires":[]},{"id":"b61177a0e0bad9da","type":"function","z":"9594c1b94bfa2261","name":"function 2","func":"let arr=[]\nfor (const data of msg.payload.data) {\n    let item={\n        Date: dayjs().format('YYYY-MM-DD'),\n        Time: dayjs().format('HH:mm:ss'),\n        Function:msg.payload.func,\n        ...data\n    }\n    arr.push(item)\n}\nmsg.payload=arr;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"dayjs","module":"dayjs"}],"x":680,"y":500,"wires":[["2bc576238395790a","9137c4233dde6ead"]]},{"id":"2bc576238395790a","type":"debug","z":"9594c1b94bfa2261","name":"debug 3","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":860,"y":380,"wires":[]},{"id":"9137c4233dde6ead","type":"function","z":"9594c1b94bfa2261","name":"writefile","func":"\n\n// 获取当前日期并格式化为年月日\nconst currentDate = new Date();\nconst formattedDate = `${currentDate.getFullYear()}${(currentDate.getMonth() + 1).toString().padStart(2, '0')}${currentDate.getDate().toString().padStart(2, '0')}`;\n\n// 设置你想要检查和创建的文件夹路径\nconst folderPath = path.join('E:\\\\', 'data');\n\n// 根据当前日期生成CSV文件的完整路径\nconst csvFilePath = path.join(folderPath, `data_${formattedDate}.csv`);\n\n// 你的数据对象数组\nconst dataObjects = msg.payload;\nmsg.payload = msg.payload\n// 检查文件夹是否存在，如果不存在，则创建它\nif (!fs.existsSync(folderPath)) {\n    fs.mkdirSync(folderPath, { recursive: true });\n}\n\n// 检查CSV文件是否存在\nfs.access(csvFilePath, fs.constants.F_OK, (err) => {\n    const ws = fs.createWriteStream(csvFilePath, { flags: 'a' });\n    const csvStream = fastcsv.format({ headers: err, includeEndRowDelimiter: true });\n\n    csvStream.pipe(ws).on('finish', () => {\n       // node.warn('Write to CSV successfully!');\n    });\n\n    if (err) {\n        // 文件不存在，将会写入表头和数据\n        dataObjects.forEach(obj => csvStream.write(obj));\n    } else {\n        // 文件存在，只写入数据\n        dataObjects.forEach(obj => csvStream.write(obj));\n    }\n\n    csvStream.end();\n});\nreturn msg\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[{"var":"fs","module":"fs"},{"var":"path","module":"path"},{"var":"fastcsv","module":"fast-csv"}],"x":940,"y":480,"wires":[[]]},{"id":"ab5c4f82908e87c4","type":"tcp out","z":"9594c1b94bfa2261","name":"","host":"192.168.250.23","port":"23250","beserver":"client","base64":false,"end":false,"tls":"","x":290,"y":620,"wires":[]},{"id":"ef11a23cc9141b5a","type":"inject","z":"9594c1b94bfa2261","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":440,"wires":[["ab5c4f82908e87c4"]]},{"id":"48fe57cdf3a5ea95","type":"tcp out","z":"9594c1b94bfa2261","name":"","host":"","port":"","beserver":"reply","base64":false,"end":false,"tls":"","x":630,"y":260,"wires":[]},{"id":"7e4eb97649eaafeb","type":"serial-port","serialport":"COM2","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"}]