德科.json
[
    {
        "id": "81cb1dd4eaa4c1bd",
        "type": "tab",
        "label": "流程 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "cd973ab6aa67a51e",
        "type": "tab",
        "label": "流程 3",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2788f53de6e70b96",
        "type": "tab",
        "label": "流程 4",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f9e4658b47fbda08",
        "type": "tab",
        "label": "流程 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "abe5ee3b6d18d879",
        "type": "subflow",
        "name": "上传数据",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 60,
                "y": 180,
                "wires": [
                    {
                        "id": "c14dea85cd270dad"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1080,
                "y": 160,
                "wires": [
                    {
                        "id": "34946d8bd1a151a8",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1160,
                "y": 280,
                "wires": [
                    {
                        "id": "5c4bb4543abbb231",
                        "port": 0
                    }
                ]
            },
            {
                "x": 1180,
                "y": 320,
                "wires": [
                    {
                        "id": "8c4896bd7cbf9170",
                        "port": 0
                    },
                    {
                        "id": "726b605048150103",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "199a0bd0af27c428",
        "type": "group",
        "z": "f9e4658b47fbda08",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "2ed7f55b6e0570fb",
            "2d4bfbcb557f4a0a",
            "466aae108c26641e",
            "2ab50a54f66d2f63",
            "011b437fcb6047d6",
            "81cc5673e689c68c",
            "379ed376ccc54a40",
            "64cb8f6c6e7c8c66",
            "d500eacc3f7e06f0",
            "d2c502fe7d9bc078",
            "7b1b8bd07c2459d4",
            "85063804d23a642e",
            "57a4b1f7380fbe2d",
            "07dedcd51120d951",
            "543f4365e7f0c634",
            "c33b3a2f39a393bd",
            "5ec043c1b7f050e2",
            "36e4c0a51c287433",
            "96adeda57caf5c83",
            "29ad80fea7ca7342",
            "da96703440adacba"
        ],
        "x": 274,
        "y": 479,
        "w": 732,
        "h": 1262
    },
    {
        "id": "cab8219d5782c70b",
        "type": "junction",
        "z": "81cb1dd4eaa4c1bd",
        "x": 660,
        "y": 720,
        "wires": [
            [
                "a050b9abaf5d8bf6"
            ]
        ]
    },
    {
        "id": "b7db32d3ae257f06",
        "type": "junction",
        "z": "81cb1dd4eaa4c1bd",
        "x": 680,
        "y": 760,
        "wires": [
            [
                "e9f8db11b743b07c"
            ]
        ]
    },
    {
        "id": "9c80f43ec3bd3445",
        "type": "junction",
        "z": "81cb1dd4eaa4c1bd",
        "x": 680,
        "y": 1000,
        "wires": [
            [
                "9b9775f2a666798c"
            ]
        ]
    },
    {
        "id": "b53952c1344f783a",
        "type": "junction",
        "z": "81cb1dd4eaa4c1bd",
        "x": 700,
        "y": 1040,
        "wires": [
            []
        ]
    },
    {
        "id": "da96703440adacba",
        "type": "junction",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "x": 520,
        "y": 1060,
        "wires": [
            [
                "2d4bfbcb557f4a0a",
                "2ab50a54f66d2f63",
                "011b437fcb6047d6",
                "81cc5673e689c68c",
                "379ed376ccc54a40",
                "64cb8f6c6e7c8c66",
                "d500eacc3f7e06f0",
                "d2c502fe7d9bc078",
                "7b1b8bd07c2459d4",
                "85063804d23a642e",
                "57a4b1f7380fbe2d",
                "07dedcd51120d951",
                "543f4365e7f0c634",
                "c33b3a2f39a393bd",
                "5ec043c1b7f050e2",
                "36e4c0a51c287433",
                "96adeda57caf5c83"
            ]
        ]
    },
    {
        "id": "51e426ac73bfee54",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://172.20.1.10:4840",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "opc.tcp://172.20.1.10:4840",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "6cdfd52e454e3efd",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://172.20.1.40:4840",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "opc.tcp://172.20.1.40:4840",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "30a546349af6db47",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://172.20.1.30:4840",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "opc.tcp://172.20.1.30:4840",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "86171c58f02f1f02",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://172.20.1.20:4840",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "opc.tcp://172.20.1.20:4840",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "05ce4bf46e47d87a",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://172.20.1.50:4840",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "opc.tcp://172.20.1.50:4840",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "b41a7d8e3780198c",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://172.20.1.70:4840",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "opc.tcp://172.20.1.70:4840",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "e479665d8a3dbb72",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://172.20.1.80:4840",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "opc.tcp://172.20.1.80:4840",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "58dbba27a32b9481",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://172.20.1.90:4840",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "opc.tcp://172.20.1.90:4840",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "b664f4e92da70e97",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://172.20.1.100:4840",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "opc.tcp://172.20.1.100:4840",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "09457a6e359a3424",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://172.20.1.110:4840",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "opc.tcp://172.20.1.110:4840",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "283c347828dfacd8",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://172.20.2.1:4840",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "opc.tcp://172.20.2.1:4840",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "645e59572ad4aacf",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://172.20.2.20:4840",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "opc.tcp://172.20.2.20:4840",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "e29a467af6981dfb",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://172.20.2.40:4840",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "opc.tcp://172.20.2.40:4840",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "1a2892f4d0c18669",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://172.20.3.20:4840",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "opc.tcp://172.20.3.20:4840",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "eaa46e57b1eefbf3",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://172.20.3.30:4840",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "opc.tcp://172.20.3.30:4840",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "b6fe4c78999e30bb",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://172.20.3.80:4840",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "opc.tcp://172.20.3.80:4840",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "5bf150fd8bf7916d",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://172.20.3.10:4840",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "opc.tcp://172.20.3.10:4840",
        "showErrors": false,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    },
    {
        "id": "7d4ea74885e93cce",
        "type": "Opcua-Endpoint-Instance",
        "endpoint": "opc.tcp://172.20.1.10:4840",
        "user": "",
        "password": "",
        "secpolicy": "None",
        "secmode": "None"
    },
    {
        "id": "21c34c444b37052f",
        "type": "Opcua-Endpoint-Instance",
        "endpoint": "opc.tcp://172.20.1.20:4840",
        "user": "",
        "password": "",
        "secpolicy": "None",
        "secmode": "None"
    },
    {
        "id": "9ffb403810dc56e4",
        "type": "Opcua-Endpoint-Instance",
        "endpoint": "opc.tcp://172.20.1.30:4840",
        "user": "",
        "password": "",
        "secpolicy": "None",
        "secmode": "None"
    },
    {
        "id": "13e19d0e6c13c9d4",
        "type": "Opcua-Endpoint-Instance",
        "endpoint": "opc.tcp://172.20.1.40:4840",
        "user": "",
        "password": "",
        "secpolicy": "None",
        "secmode": "None"
    },
    {
        "id": "b580a5d3a4b54c4a",
        "type": "Opcua-Endpoint-Instance",
        "endpoint": "opc.tcp://172.20.1.50:4840",
        "user": "",
        "password": "",
        "secpolicy": "None",
        "secmode": "None"
    },
    {
        "id": "9a2fe0e755de2c6c",
        "type": "Opcua-Endpoint-Instance",
        "endpoint": "opc.tcp://172.20.1.70:4840",
        "user": "",
        "password": "",
        "secpolicy": "None",
        "secmode": "None"
    },
    {
        "id": "2cd8df2ec7a8279a",
        "type": "Opcua-Endpoint-Instance",
        "endpoint": "opc.tcp://172.20.1.80:4840",
        "user": "",
        "password": "",
        "secpolicy": "None",
        "secmode": "None"
    },
    {
        "id": "57ce70a578a73823",
        "type": "Opcua-Endpoint-Instance",
        "endpoint": "opc.tcp://172.20.1.90:4840",
        "user": "",
        "password": "",
        "secpolicy": "None",
        "secmode": "None"
    },
    {
        "id": "c3b965869f08d3ea",
        "type": "Opcua-Endpoint-Instance",
        "endpoint": "opc.tcp://172.20.1.100:4840",
        "user": "",
        "password": "",
        "secpolicy": "None",
        "secmode": "None"
    },
    {
        "id": "a07210d798641b0a",
        "type": "Opcua-Endpoint-Instance",
        "endpoint": "opc.tcp://172.20.2.40:4840",
        "user": "",
        "password": "",
        "secpolicy": "None",
        "secmode": "None"
    },
    {
        "id": "c26fc6af4387b42d",
        "type": "Opcua-Endpoint-Instance",
        "endpoint": "opc.tcp://172.20.2.1:4840",
        "user": "",
        "password": "",
        "secpolicy": "None",
        "secmode": "None"
    },
    {
        "id": "c0353e30052c0633",
        "type": "Opcua-Endpoint-Instance",
        "endpoint": "opc.tcp://172.20.2.20:4840",
        "user": "",
        "password": "",
        "secpolicy": "None",
        "secmode": "None"
    },
    {
        "id": "62b642c02e6acb34",
        "type": "Opcua-Endpoint-Instance",
        "endpoint": "opc.tcp://172.20.3.10:4840",
        "user": "",
        "password": "",
        "secpolicy": "None",
        "secmode": "None"
    },
    {
        "id": "cbb8ab68791c4b89",
        "type": "Opcua-Endpoint-Instance",
        "endpoint": "opc.tcp://172.20.3.20:4840",
        "user": "",
        "password": "",
        "secpolicy": "None",
        "secmode": "None"
    },
    {
        "id": "8133b9c164fa0911",
        "type": "Opcua-Endpoint-Instance",
        "endpoint": "opc.tcp://172.20.3.30:4840",
        "user": "",
        "password": "",
        "secpolicy": "None",
        "secmode": "None"
    },
    {
        "id": "7b7cc9ec11763b62",
        "type": "Opcua-Endpoint-Instance",
        "endpoint": "opc.tcp://172.20.3.80:4840",
        "user": "",
        "password": "",
        "secpolicy": "None",
        "secmode": "None"
    },
    {
        "id": "caa647c5640cc6b1",
        "type": "Opcua-Endpoint-Instance",
        "endpoint": "opc.tcp://172.20.1.110:4840",
        "user": "",
        "password": "",
        "secpolicy": "None",
        "secmode": "None"
    },
    {
        "id": "4c5a77163e9a8da8",
        "type": "function",
        "z": "abe5ee3b6d18d879",
        "name": "物料验证",
        "func": "async function postData(msg) {\n    try {\n        // 执行异步操作\n        const response = await axios.post('http://172.20.1.1:8888/scada/api/MaterialIdCheck',msg.payload);\n        // 处理异步操作的结果\n        msg.payload=response\n        node.send(msg);\n    } catch (error) {\n        // 处理异步操作中的错误\n        node.error(msg)\n        node.error(error.message);\n    }\n}\n\n// 调用异步函数\npostData(msg);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "axios",
                "module": "axios"
            }
        ],
        "x": 520,
        "y": 160,
        "wires": [
            [
                "17852629c00f3732"
            ]
        ]
    },
    {
        "id": "c14dea85cd270dad",
        "type": "switch",
        "z": "abe5ee3b6d18d879",
        "name": "",
        "property": "payload[\"来料物料上传\"][\"请求\"]",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 180,
        "wires": [
            [
                "752f79570ecad107",
                "fcbb14b6057d8b18"
            ],
            [
                "e1642810504a4bc2",
                "122b4f969208884b",
                "652d53ec1e69148e"
            ]
        ]
    },
    {
        "id": "752f79570ecad107",
        "type": "debug",
        "z": "abe5ee3b6d18d879",
        "name": "debug 12",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 80,
        "wires": []
    },
    {
        "id": "e1642810504a4bc2",
        "type": "function",
        "z": "abe5ee3b6d18d879",
        "name": "生产前",
        "func": "\nfor (let prop in msg.payload) {\n    if (msg.payload.hasOwnProperty(prop)) {\n        if(prop!=\"MES在线心跳\"){\n            if(msg.payload[prop][prop+\"生产前\"]!==undefined){\n                if (msg.payload[prop][prop+\"生产前\"][\"请求\"]){\n                    msg.topic=prop\n                    msg.payload=msg.payload[prop][prop+\"生产前\"]\n                    node.send(msg)\n                }    \n            }\n  \n        }  \n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 350,
        "y": 240,
        "wires": [
            [
                "e3a47c72c902a6b3"
            ]
        ]
    },
    {
        "id": "fcbb14b6057d8b18",
        "type": "function",
        "z": "abe5ee3b6d18d879",
        "name": "来料物料上传",
        "func": "msg.payload=msg.payload[\"来料物料上传\"]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 160,
        "wires": [
            [
                "4c5a77163e9a8da8"
            ]
        ]
    },
    {
        "id": "34946d8bd1a151a8",
        "type": "function",
        "z": "abe5ee3b6d18d879",
        "name": "物料验证结果写入",
        "func": "let data=msg.payload.data\nmsg.payload= { \n    \"nodetype\": \"node\", \n    \"injectType\": \"write\", \n    \"addressSpaceItems\": [\n        { \"name\": \"code\", \n           \"nodeId\": \"ns=4;s=MESData.来料物料上传.反馈结果\", \n            \"datatypeName\": \"UInt16\" \n        },{\n            \"name\": \"msg\", \n           \"nodeId\": \"ns=4;s=MESData.来料物料上传.反馈结果信息\", \n           \"datatypeName\": \"String\"        \n        }], \n    \"valuesToWrite\": [data.code,data.msg], \n    \"value\": [data.code,data.msg] }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 160,
        "wires": [
            [
                "df408cbc36ccd8a5"
            ]
        ]
    },
    {
        "id": "d8426814f9d0957b",
        "type": "function",
        "z": "abe5ee3b6d18d879",
        "name": "加工申请",
        "func": "async function postData(msg) {\n    try {\n        // 执行异步操作\n        const response = await axios.post('http://172.20.1.1:8888/scada/api/PartReceived',msg.payload);\n        // 处理异步操作的结果\n        msg.payload=response\n        node.warn(msg)\n        node.send(msg);\n    } catch (error) {\n        // 处理异步操作中的错误\n        node.error(msg)\n        node.error(error.message);\n    }\n}\n\n// 调用异步函数\npostData(msg);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "axios",
                "module": "axios"
            }
        ],
        "x": 800,
        "y": 280,
        "wires": [
            [
                "5c4bb4543abbb231",
                "f08ca1a9f8fadf3b"
            ]
        ]
    },
    {
        "id": "e3a47c72c902a6b3",
        "type": "delay",
        "z": "abe5ee3b6d18d879",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 610,
        "y": 260,
        "wires": [
            [
                "d8426814f9d0957b"
            ]
        ]
    },
    {
        "id": "5c4bb4543abbb231",
        "type": "function",
        "z": "abe5ee3b6d18d879",
        "name": "加工申请 结果写入",
        "func": "let returnInfo=undefined;\nlet returnCode=undefined;\nif(msg.payload.data.data!=undefined){\n     returnInfo = msg.payload.data.data.returnInfo\n     returnCode = msg.payload.data.data.returnCode\n}else{\n    returnCode=msg.payload.data.code;\n    returnInfo=msg.payload.data.msg;\n}\nif(returnCode==undefined){\n    returnCode=500\n}\nif(returnInfo==undefined){\n    returnInfo=\"服务异常\"\n}\n\nmsg.payload= { \n    \"nodetype\": \"node\", \n    \"injectType\": \"write\", \n    \"addressSpaceItems\": [\n        { \"name\": \"code\", \n            \"nodeId\": `ns=4;s=MESData.${msg.topic}.${msg.topic}生产前.反馈结果`, \n           \"datatypeName\": \"UInt16\" \n        },{\n            \"name\": \"msg\", \n            \"nodeId\": `ns=4;s=MESData.${msg.topic}.${msg.topic}生产前.反馈结果信息`, \n           \"datatypeName\": \"String\"        \n        }], \n    \"valuesToWrite\": [returnCode,returnInfo], \n    \"value\": [returnCode, returnInfo] }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 990,
        "y": 280,
        "wires": [
            [
                "f08ca1a9f8fadf3b"
            ]
        ]
    },
    {
        "id": "f08ca1a9f8fadf3b",
        "type": "debug",
        "z": "abe5ee3b6d18d879",
        "name": "debug 15",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 960,
        "y": 220,
        "wires": []
    },
    {
        "id": "113796c388c8f381",
        "type": "inject",
        "z": "abe5ee3b6d18d879",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"eqpNo\":\"string\",\"processCode\":\"string\",\"partId\":\"string\",\"childPartId\":\"string\",\"tools\":[{\"toolCode\":\"string\"}],\"materials\":[{\"materialCode\":\"string\",\"traceNo\":\"string\",\"lotNo\":\"string\"}]}",
        "payloadType": "json",
        "x": 530,
        "y": 320,
        "wires": [
            [
                "d8426814f9d0957b"
            ]
        ]
    },
    {
        "id": "1785b342f9710161",
        "type": "function",
        "z": "abe5ee3b6d18d879",
        "name": "加工完成",
        "func": "async function postData(msg) {\n    try {\n        // 执行异步操作\n        const response = await axios.post('http://172.20.1.1:8888/scada/api/PartProcessed',msg.payload);\n        // 处理异步操作的结果\n        msg.payload=response\n        node.send(msg);\n    } catch (error) {\n        // 处理异步操作中的错误\n        node.error(msg)\n        node.error(error.message);\n    }\n}\n\n// 调用异步函数\npostData(msg);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "axios",
                "module": "axios"
            }
        ],
        "x": 820,
        "y": 320,
        "wires": [
            [
                "8c4896bd7cbf9170",
                "595d5e4838f5268b"
            ]
        ]
    },
    {
        "id": "122b4f969208884b",
        "type": "function",
        "z": "abe5ee3b6d18d879",
        "name": "生产后",
        "func": "\nfor (let prop in msg.payload) {\n    if (msg.payload.hasOwnProperty(prop)) {\n        if(prop!=\"MES在线心跳\"){\n            if(msg.payload[prop][prop+\"生产后\"]!==undefined){\n                if (msg.payload[prop][prop+\"生产后\"][\"请求\"]){\n                    msg.topic=prop\n                    msg.payload=msg.payload[prop][prop+\"生产后\"]\n                    node.send(msg)\n                }    \n            }\n  \n        }  \n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 360,
        "wires": [
            [
                "847c031a256ccfcb"
            ]
        ]
    },
    {
        "id": "847c031a256ccfcb",
        "type": "delay",
        "z": "abe5ee3b6d18d879",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 490,
        "y": 360,
        "wires": [
            [
                "2d2ef13f226f7cb7"
            ]
        ]
    },
    {
        "id": "8c4896bd7cbf9170",
        "type": "function",
        "z": "abe5ee3b6d18d879",
        "name": "加工完成 结果写入",
        "func": "let returnInfo = undefined;\nlet returnCode = undefined;\nif (msg.payload.data.data != undefined) {\n    returnInfo = msg.payload.data.data.returnInfo\n    returnCode = msg.payload.data.data.returnCode\n} else {\n    returnCode = msg.payload.data.code;\n    returnInfo = msg.payload.data.msg;\n}\nif (returnCode == undefined) {\n    returnCode = 500\n}\nif (returnInfo == undefined) {\n    returnInfo = \"服务异常\"\n}\nmsg.payload= { \n    \"nodetype\": \"node\", \n    \"injectType\": \"write\", \n    \"addressSpaceItems\": [\n        { \"name\": \"code\", \n            \"nodeId\": `ns=4;s=MESData.${msg.topic}.${msg.topic}生产后.反馈结果`,\n           \"datatypeName\": \"UInt16\" \n        },{\n            \"name\": \"msg\", \n            \"nodeId\": `ns=4;s=MESData.${msg.topic}.${msg.topic}生产后.反馈结果信息`, \n           \"datatypeName\": \"String\"        \n        }], \n    \"valuesToWrite\": [returnCode,returnInfo], \n    \"value\": [returnCode, returnInfo] }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "df408cbc36ccd8a5",
        "type": "debug",
        "z": "abe5ee3b6d18d879",
        "name": "debug 17",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 100,
        "wires": []
    },
    {
        "id": "17852629c00f3732",
        "type": "delay",
        "z": "abe5ee3b6d18d879",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 690,
        "y": 160,
        "wires": [
            [
                "34946d8bd1a151a8"
            ]
        ]
    },
    {
        "id": "2d2ef13f226f7cb7",
        "type": "function",
        "z": "abe5ee3b6d18d879",
        "name": "数据处理",
        "func": "let data=msg.payload\n\nmsg.payload=transformData(data)\nnode.warn(msg.payload)\nreturn msg\n\nfunction transformData(originalData) {\n    // 创建一个新对象，不包含以“参数”开头的字段\n    let transformedData = {};\n    for (let key in originalData) {\n        if (!key.startsWith(\"参数_\")) {\n            transformedData[key] = originalData[key];\n        }\n    }\n\n    // 转换参数字段\n    let parameters = [];\n    for (let key in originalData) {\n        if (key.startsWith(\"参数_\")) {\n            const parts = key.split(/[_＿]/)\n            // node.warn(parts)\n            const paramName = parts[2]; // 参数名称\n            const paramType = parts[3]; // 参数类型，如“值”, “上限”, “下限”\n\n            let param = parameters.find(p => p.name === paramName);\n            if (!param) {\n                param = { name: paramName, upper: '', lower: '', value: '', dataType: 0, result: 0 };\n                parameters.push(param);\n            }\n\n            switch(paramType) {\n                case '上限':\n                    param.upper = originalData[key].toString();\n                    break;\n                case '下限':\n                    param.lower = originalData[key].toString();\n                    break;\n                case '值':\n                    param.value = originalData[key].toString();\n                    break;\n                default:\n                    break; // 其他类型不处理\n            }\n        }\n    }\n\n    // 添加转换后的参数字段\n    transformedData.parameters = parameters;\n\n    return transformedData;\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 360,
        "wires": [
            [
                "1785b342f9710161",
                "595d5e4838f5268b"
            ]
        ]
    },
    {
        "id": "3e2c7469906f5eea",
        "type": "inject",
        "z": "abe5ee3b6d18d879",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"请求\":false,\"工位数据采集\":false,\"当前配方号\":0,\"工序名称\":\"转子插磁钢\",\"二维码\":\"ERROR2403132BED\",\"生产结果\":\"NG\",\"参数_0_转轴深度_值\":18.360000610351562,\"参数_0_转轴深度_上限\":22.700000762939453,\"参数_0_转轴深度＿下限\":21.399999618530273,\"铁芯子件二维码\":[\"\",\"\"],\"当前配方名称\":\"\",\"参数_1_初次压入最终力_值\":229.59182739257812,\"参数_1_初次压入最终位移＿值\":218,\"参数_2_中间压入最终力_值\":242.9591827392578,\"参数_2_中间压入最终位移_值\":204.302001953125,\"参数_3_右侧压入最终力_值\":1364.0816650390625,\"参数_3_右侧压入最终位移_值\":200.0489959716797,\"转子1批次号\":\"\",\"转子2批次号\":\"20240123\",\"磁钢批次号\":\"20240123\",\"中心轴批次号\":\"\",\"转子1上料时间\":\"\",\"转子2上料时间\":\"2024.01.23\",\"磁钢上料时间\":\"2024.01.23\",\"中心轴上料时间\":\"\",\"磁钢高度\":[7,10,9],\"eqpNo\":\"\",\"workOrderCode\":\"\",\"processCode\":\"\",\"partId\":\"\",\"materials\":[{\"materialCode\":\"\",\"traceNo\":\"\",\"lotNo\":\"\"},{\"materialCode\":\"\",\"traceNo\":\"\",\"lotNo\":\"\"},{\"materialCode\":\"\",\"traceNo\":\"\",\"lotNo\":\"\"},{\"materialCode\":\"\",\"traceNo\":\"\",\"lotNo\":\"\"}],\"反馈结果信息\":\"\",\"参数_0_转轴深度_结果\":\"\",\"反馈结果\":0}",
        "payloadType": "json",
        "x": 510,
        "y": 400,
        "wires": [
            [
                "2d2ef13f226f7cb7"
            ]
        ]
    },
    {
        "id": "595d5e4838f5268b",
        "type": "debug",
        "z": "abe5ee3b6d18d879",
        "name": "debug 19",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 860,
        "y": 420,
        "wires": []
    },
    {
        "id": "652d53ec1e69148e",
        "type": "function",
        "z": "abe5ee3b6d18d879",
        "name": "员工登录",
        "func": "\nfor (let prop in msg.payload) {\n    if (msg.payload.hasOwnProperty(prop)) {\n        if(prop==\"设备操作员登入登出\"){\n            let logininfo=msg.payload[prop]\n            if(logininfo[\"请求\"]){\n                msg.topic = prop\n                msg.payload=logininfo\n                node.send(msg)\n            }\n        }  \n    }\n}",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 340,
        "y": 440,
        "wires": [
            [
                "06b8f2e506673b17"
            ]
        ]
    },
    {
        "id": "06b8f2e506673b17",
        "type": "delay",
        "z": "abe5ee3b6d18d879",
        "name": "",
        "pauseType": "timed",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "3",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 530,
        "y": 440,
        "wires": [
            [
                "8978aa99cf8e759a"
            ]
        ]
    },
    {
        "id": "8978aa99cf8e759a",
        "type": "function",
        "z": "abe5ee3b6d18d879",
        "name": "用户登录",
        "func": "async function postData(msg) {\n    try {\n        // 执行异步操作\n        const response = await axios.post('http://172.20.1.1:8888/scada/api/LogInOrLogOut',msg.payload);\n        // 处理异步操作的结果\n        msg.payload=response\n        node.send(msg);\n    } catch (error) {\n        // 处理异步操作中的错误\n        node.error(msg)\n        node.error(error.message);\n    }\n}\n\n// 调用异步函数\npostData(msg);",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [
            {
                "var": "axios",
                "module": "axios"
            }
        ],
        "x": 740,
        "y": 480,
        "wires": [
            [
                "726b605048150103"
            ]
        ]
    },
    {
        "id": "726b605048150103",
        "type": "function",
        "z": "abe5ee3b6d18d879",
        "name": "用户登录结果写入",
        "func": "let returnInfo = undefined;\nlet returnCode = undefined;\nif (msg.payload.data.data != undefined) {\n    returnInfo = msg.payload.data.data.returnInfo\n    returnCode = msg.payload.data.data.returnCode\n} else {\n    returnCode = msg.payload.data.code;\n    returnInfo = msg.payload.data.msg;\n}\nif (returnCode == undefined) {\n    returnCode = 500\n}\nif (returnInfo == undefined) {\n    returnInfo = \"服务异常\"\n}\nmsg.payload= { \n    \"nodetype\": \"node\", \n    \"injectType\": \"write\", \n    \"addressSpaceItems\": [\n        { \"name\": \"code\", \n            \"nodeId\": `ns=4;s=MESData.${msg.topic}.code`,\n           \"datatypeName\": \"UInt16\" \n        },{\n            \"name\": \"msg\", \n            \"nodeId\": `ns=4;s=MESData.${msg.topic}.msg`, \n           \"datatypeName\": \"String\"        \n        }], \n    \"valuesToWrite\": [returnCode,returnInfo], \n    \"value\": [returnCode, returnInfo] }\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "486d1ac337e3730a",
        "type": "inject",
        "z": "81cb1dd4eaa4c1bd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "172.20.2.1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"MES在线心跳\":true,\"铁芯磁钢装配站数据\":{\"请求\":false,\"反馈OK\":false,\"反馈NG\":false,\"MES_local\":false,\"生产前触发\":false,\"生产前反馈OK\":false,\"生产前反馈NG\":false,\"工位数据采集\":false,\"当前配方号\":0,\"工序名称\":\"转子插磁钢\",\"二维码\":\"ERROR2403132BED\",\"生产结果\":\"NG\",\"转轴深度数据\":18.36,\"转轴深度上限\":22.7,\"转轴深度下限\":21.4,\"铁芯子件二维码\":\" \",\"当前配方名称\":\"\",\"初次压入最终力\":229.592,\"初次压入最终位移\":218,\"中间压入最终力\":242.959,\"中间压入最终位移\":204.302,\"右侧压入最终力\":1364.082,\"右侧压入最终位移\":200.049,\"备用\":0,\"转子1批次号\":\"20240123\",\"转子2批次号\":\"20240123\",\"磁钢批次号\":\"20240123\",\"中心轴批次号\":\"20240123\",\"转子1上料时间\":\"2024.01.23\",\"转子2上料时间\":\"2024.01.23\",\"磁钢上料时间\":\"2024.01.23\",\"中心轴上料时间\":\"2024.01.23\",\"磁钢高度\":\"7 10 9\",\"eqpNo\":\"\",\"workOrderCode\":\"\",\"processCode\":\"\",\"partId\":\"\",\"materials\":\"[object Object] [object Object] [object Object] [object Object] [object Object] [object Object]\",\"反馈结果信息\":\"\"},\"来料物料上传\":{\"eqpNo\":\"\",\"workOrderCode\":\"\",\"materialCode\":\"\",\"lotNo\":\"\",\"traceNo\":\"\",\"请求\":true,\"反馈OK\":false,\"反馈NG\":false,\"来料物料上传结果\":\"false false false false false false false false false false false false false false false false\",\"反馈结果信息\":\"\"}}",
        "payloadType": "json",
        "x": 670,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "1341a4c04ceb9cf9",
        "type": "OPCUA-IIoT-Write",
        "z": "81cb1dd4eaa4c1bd",
        "connector": "283c347828dfacd8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 490,
        "y": 380,
        "wires": [
            [
                "a689a9792d2cc161"
            ]
        ]
    },
    {
        "id": "a689a9792d2cc161",
        "type": "debug",
        "z": "81cb1dd4eaa4c1bd",
        "name": "debug 18",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 380,
        "wires": []
    },
    {
        "id": "2d6c3c77340932ab",
        "type": "debug",
        "z": "81cb1dd4eaa4c1bd",
        "name": "debug 20",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 600,
        "y": 320,
        "wires": []
    },
    {
        "id": "033d90952d7b363c",
        "type": "subflow:abe5ee3b6d18d879",
        "z": "81cb1dd4eaa4c1bd",
        "name": "",
        "x": 420,
        "y": 320,
        "wires": [
            [
                "1341a4c04ceb9cf9"
            ],
            [
                "1341a4c04ceb9cf9"
            ],
            [
                "1341a4c04ceb9cf9",
                "2d6c3c77340932ab"
            ]
        ]
    },
    {
        "id": "7115571b118fdfd9",
        "type": "OPCUA-IIoT-Read",
        "z": "81cb1dd4eaa4c1bd",
        "attributeId": "0",
        "maxAge": 1,
        "depth": 1,
        "connector": "283c347828dfacd8",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 230,
        "y": 260,
        "wires": [
            [
                "8e9726295c2c6ae0",
                "af7b42f6b51ce180"
            ]
        ]
    },
    {
        "id": "ba8929e0f2be5e76",
        "type": "OPCUA-IIoT-Node",
        "z": "81cb1dd4eaa4c1bd",
        "injectType": "read",
        "nodeId": "ns=4;s=MESData",
        "datatype": "",
        "value": "",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 250,
        "y": 180,
        "wires": [
            [
                "7115571b118fdfd9"
            ]
        ]
    },
    {
        "id": "a4aeee140df029c0",
        "type": "OPCUA-IIoT-Inject",
        "z": "81cb1dd4eaa4c1bd",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 110,
        "y": 180,
        "wires": [
            [
                "ba8929e0f2be5e76"
            ]
        ]
    },
    {
        "id": "8e9726295c2c6ae0",
        "type": "function",
        "z": "81cb1dd4eaa4c1bd",
        "name": "172.20.2.1",
        "func": "msg.payload = msg.payload.value[0].value\nmsg.source=\"172.20.2.1\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 260,
        "wires": [
            [
                "033d90952d7b363c",
                "76bccd5014c1fa45"
            ]
        ]
    },
    {
        "id": "76bccd5014c1fa45",
        "type": "debug",
        "z": "81cb1dd4eaa4c1bd",
        "name": "debug 22",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 240,
        "wires": []
    },
    {
        "id": "120aaa6848b72859",
        "type": "inject",
        "z": "81cb1dd4eaa4c1bd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "172.20.2.1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"MES在线心跳\":true,\"铁芯磁钢装配站数据\":{\"请求\":false,\"反馈OK\":false,\"反馈NG\":false,\"MES_local\":false,\"生产前触发\":false,\"生产前反馈OK\":false,\"生产前反馈NG\":false,\"工位数据采集\":false,\"当前配方号\":0,\"工序名称\":\"转子插磁钢\",\"二维码\":\"ERROR2403132BED\",\"生产结果\":\"NG\",\"转轴深度数据\":18.36,\"转轴深度上限\":22.7,\"转轴深度下限\":21.4,\"铁芯子件二维码\":\" \",\"当前配方名称\":\"\",\"初次压入最终力\":229.592,\"初次压入最终位移\":218,\"中间压入最终力\":242.959,\"中间压入最终位移\":204.302,\"右侧压入最终力\":1364.082,\"右侧压入最终位移\":200.049,\"备用\":0,\"转子1批次号\":\"20240123\",\"转子2批次号\":\"20240123\",\"磁钢批次号\":\"20240123\",\"中心轴批次号\":\"20240123\",\"转子1上料时间\":\"2024.01.23\",\"转子2上料时间\":\"2024.01.23\",\"磁钢上料时间\":\"2024.01.23\",\"中心轴上料时间\":\"2024.01.23\",\"磁钢高度\":\"7 10 9\",\"eqpNo\":\"\",\"workOrderCode\":\"\",\"processCode\":\"\",\"partId\":\"\",\"materials\":\"[object Object] [object Object] [object Object] [object Object] [object Object] [object Object]\",\"反馈结果信息\":\"\"},\"来料物料上传\":{\"eqpNo\":\"\",\"workOrderCode\":\"\",\"materialCode\":\"\",\"lotNo\":\"\",\"traceNo\":\"\",\"请求\":true,\"反馈OK\":false,\"反馈NG\":false,\"来料物料上传结果\":\"false false false false false false false false false false false false false false false false\",\"反馈结果信息\":\"\"}}",
        "payloadType": "json",
        "x": 490,
        "y": 620,
        "wires": [
            []
        ]
    },
    {
        "id": "5ad581092d0f68d1",
        "type": "OPCUA-IIoT-Write",
        "z": "81cb1dd4eaa4c1bd",
        "connector": "645e59572ad4aacf",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 910,
        "y": 720,
        "wires": [
            [
                "f25c73971bb53fce"
            ]
        ]
    },
    {
        "id": "f25c73971bb53fce",
        "type": "debug",
        "z": "81cb1dd4eaa4c1bd",
        "name": "debug 23",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 700,
        "wires": []
    },
    {
        "id": "e9f8db11b743b07c",
        "type": "debug",
        "z": "81cb1dd4eaa4c1bd",
        "name": "debug 24",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 780,
        "wires": []
    },
    {
        "id": "4ff4608980ca4db0",
        "type": "subflow:abe5ee3b6d18d879",
        "z": "81cb1dd4eaa4c1bd",
        "name": "",
        "x": 520,
        "y": 720,
        "wires": [
            [
                "cab8219d5782c70b"
            ],
            [
                "cab8219d5782c70b"
            ],
            [
                "cab8219d5782c70b",
                "b7db32d3ae257f06"
            ]
        ]
    },
    {
        "id": "e75af3dbd8f04618",
        "type": "OPCUA-IIoT-Read",
        "z": "81cb1dd4eaa4c1bd",
        "attributeId": 0,
        "maxAge": 1,
        "depth": 1,
        "connector": "645e59572ad4aacf",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 130,
        "y": 720,
        "wires": [
            [
                "90d9d4b7f8b4c536"
            ]
        ]
    },
    {
        "id": "66852958ba82e5de",
        "type": "OPCUA-IIoT-Node",
        "z": "81cb1dd4eaa4c1bd",
        "injectType": "read",
        "nodeId": "ns=4;s=MESData",
        "datatype": "",
        "value": "",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 130,
        "y": 660,
        "wires": [
            [
                "e75af3dbd8f04618"
            ]
        ]
    },
    {
        "id": "e13b6d0e9168ce99",
        "type": "OPCUA-IIoT-Inject",
        "z": "81cb1dd4eaa4c1bd",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 150,
        "y": 620,
        "wires": [
            [
                "66852958ba82e5de"
            ]
        ]
    },
    {
        "id": "90d9d4b7f8b4c536",
        "type": "function",
        "z": "81cb1dd4eaa4c1bd",
        "name": "172.20.2.20",
        "func": "msg.payload = msg.payload.value[0].value\n\nmsg.source=\"172.20.2.20\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 720,
        "wires": [
            [
                "4ff4608980ca4db0",
                "47edfe618bd86495"
            ]
        ]
    },
    {
        "id": "47edfe618bd86495",
        "type": "debug",
        "z": "81cb1dd4eaa4c1bd",
        "name": "debug 25",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 660,
        "wires": []
    },
    {
        "id": "a050b9abaf5d8bf6",
        "type": "delay",
        "z": "81cb1dd4eaa4c1bd",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "2",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 750,
        "y": 720,
        "wires": [
            [
                "5ad581092d0f68d1"
            ]
        ]
    },
    {
        "id": "e54ae158f2124d1f",
        "type": "inject",
        "z": "81cb1dd4eaa4c1bd",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "172.20.2.1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"MES在线心跳\":true,\"铁芯磁钢装配站数据\":{\"请求\":false,\"反馈OK\":false,\"反馈NG\":false,\"MES_local\":false,\"生产前触发\":false,\"生产前反馈OK\":false,\"生产前反馈NG\":false,\"工位数据采集\":false,\"当前配方号\":0,\"工序名称\":\"转子插磁钢\",\"二维码\":\"ERROR2403132BED\",\"生产结果\":\"NG\",\"转轴深度数据\":18.36,\"转轴深度上限\":22.7,\"转轴深度下限\":21.4,\"铁芯子件二维码\":\" \",\"当前配方名称\":\"\",\"初次压入最终力\":229.592,\"初次压入最终位移\":218,\"中间压入最终力\":242.959,\"中间压入最终位移\":204.302,\"右侧压入最终力\":1364.082,\"右侧压入最终位移\":200.049,\"备用\":0,\"转子1批次号\":\"20240123\",\"转子2批次号\":\"20240123\",\"磁钢批次号\":\"20240123\",\"中心轴批次号\":\"20240123\",\"转子1上料时间\":\"2024.01.23\",\"转子2上料时间\":\"2024.01.23\",\"磁钢上料时间\":\"2024.01.23\",\"中心轴上料时间\":\"2024.01.23\",\"磁钢高度\":\"7 10 9\",\"eqpNo\":\"\",\"workOrderCode\":\"\",\"processCode\":\"\",\"partId\":\"\",\"materials\":\"[object Object] [object Object] [object Object] [object Object] [object Object] [object Object]\",\"反馈结果信息\":\"\"},\"来料物料上传\":{\"eqpNo\":\"\",\"workOrderCode\":\"\",\"materialCode\":\"\",\"lotNo\":\"\",\"traceNo\":\"\",\"请求\":true,\"反馈OK\":false,\"反馈NG\":false,\"来料物料上传结果\":\"false false false false false false false false false false false false false false false false\",\"反馈结果信息\":\"\"}}",
        "payloadType": "json",
        "x": 510,
        "y": 900,
        "wires": [
            []
        ]
    },
    {
        "id": "a855910da6f42986",
        "type": "subflow:abe5ee3b6d18d879",
        "z": "81cb1dd4eaa4c1bd",
        "name": "",
        "x": 540,
        "y": 1000,
        "wires": [
            [
                "9c80f43ec3bd3445"
            ],
            [
                "9c80f43ec3bd3445"
            ],
            [
                "9c80f43ec3bd3445"
            ]
        ]
    },
    {
        "id": "4e14988f45e64aba",
        "type": "OPCUA-IIoT-Read",
        "z": "81cb1dd4eaa4c1bd",
        "attributeId": 0,
        "maxAge": 1,
        "depth": 1,
        "connector": "e29a467af6981dfb",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 150,
        "y": 1000,
        "wires": [
            [
                "7968d5e70766934e"
            ]
        ]
    },
    {
        "id": "9a982033d61df9a9",
        "type": "OPCUA-IIoT-Node",
        "z": "81cb1dd4eaa4c1bd",
        "injectType": "read",
        "nodeId": "ns=4;s=MESData",
        "datatype": "",
        "value": "",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 150,
        "y": 940,
        "wires": [
            [
                "4e14988f45e64aba"
            ]
        ]
    },
    {
        "id": "ed09ca983e3d4a01",
        "type": "OPCUA-IIoT-Inject",
        "z": "81cb1dd4eaa4c1bd",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 170,
        "y": 900,
        "wires": [
            [
                "9a982033d61df9a9"
            ]
        ]
    },
    {
        "id": "7968d5e70766934e",
        "type": "function",
        "z": "81cb1dd4eaa4c1bd",
        "name": "172.20.2.40",
        "func": "msg.payload = msg.payload.value[0].value\n\nmsg.source=\"172.20.2.40\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 1000,
        "wires": [
            [
                "a855910da6f42986",
                "6e6fcbab69741ed7"
            ]
        ]
    },
    {
        "id": "6e6fcbab69741ed7",
        "type": "debug",
        "z": "81cb1dd4eaa4c1bd",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 940,
        "wires": []
    },
    {
        "id": "9b9775f2a666798c",
        "type": "delay",
        "z": "81cb1dd4eaa4c1bd",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "4",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 770,
        "y": 1000,
        "wires": [
            [
                "b847d82b968fa63d"
            ]
        ]
    },
    {
        "id": "b847d82b968fa63d",
        "type": "OPCUA-IIoT-Write",
        "z": "81cb1dd4eaa4c1bd",
        "connector": "e29a467af6981dfb",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 930,
        "y": 1000,
        "wires": [
            [
                "063f17f5350aac64"
            ]
        ]
    },
    {
        "id": "063f17f5350aac64",
        "type": "debug",
        "z": "81cb1dd4eaa4c1bd",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 980,
        "wires": []
    },
    {
        "id": "af7b42f6b51ce180",
        "type": "debug",
        "z": "81cb1dd4eaa4c1bd",
        "name": "debug 43",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 220,
        "wires": []
    },
    {
        "id": "b02386bb24a61272",
        "type": "inject",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "172.20.2.1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"MES在线心跳\":true,\"铁芯磁钢装配站数据\":{\"请求\":false,\"反馈OK\":false,\"反馈NG\":false,\"MES_local\":false,\"生产前触发\":false,\"生产前反馈OK\":false,\"生产前反馈NG\":false,\"工位数据采集\":false,\"当前配方号\":0,\"工序名称\":\"转子插磁钢\",\"二维码\":\"ERROR2403132BED\",\"生产结果\":\"NG\",\"转轴深度数据\":18.36,\"转轴深度上限\":22.7,\"转轴深度下限\":21.4,\"铁芯子件二维码\":\" \",\"当前配方名称\":\"\",\"初次压入最终力\":229.592,\"初次压入最终位移\":218,\"中间压入最终力\":242.959,\"中间压入最终位移\":204.302,\"右侧压入最终力\":1364.082,\"右侧压入最终位移\":200.049,\"备用\":0,\"转子1批次号\":\"20240123\",\"转子2批次号\":\"20240123\",\"磁钢批次号\":\"20240123\",\"中心轴批次号\":\"20240123\",\"转子1上料时间\":\"2024.01.23\",\"转子2上料时间\":\"2024.01.23\",\"磁钢上料时间\":\"2024.01.23\",\"中心轴上料时间\":\"2024.01.23\",\"磁钢高度\":\"7 10 9\",\"eqpNo\":\"\",\"workOrderCode\":\"\",\"processCode\":\"\",\"partId\":\"\",\"materials\":\"[object Object] [object Object] [object Object] [object Object] [object Object] [object Object]\",\"反馈结果信息\":\"\"},\"来料物料上传\":{\"eqpNo\":\"\",\"workOrderCode\":\"\",\"materialCode\":\"\",\"lotNo\":\"\",\"traceNo\":\"\",\"请求\":true,\"反馈OK\":false,\"反馈NG\":false,\"来料物料上传结果\":\"false false false false false false false false false false false false false false false false\",\"反馈结果信息\":\"\"}}",
        "payloadType": "json",
        "x": 470,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "3cd62117128c6f4c",
        "type": "OPCUA-IIoT-Write",
        "z": "cd973ab6aa67a51e",
        "connector": "51e426ac73bfee54",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "a21e9a5b872a5761"
            ]
        ]
    },
    {
        "id": "a21e9a5b872a5761",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 28",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 360,
        "wires": []
    },
    {
        "id": "6abdaccb7eeb03dc",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 29",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 300,
        "wires": []
    },
    {
        "id": "4040f3cc9d101776",
        "type": "subflow:abe5ee3b6d18d879",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "x": 220,
        "y": 300,
        "wires": [
            [
                "3cd62117128c6f4c"
            ],
            [
                "3cd62117128c6f4c"
            ],
            [
                "3cd62117128c6f4c",
                "6abdaccb7eeb03dc"
            ]
        ]
    },
    {
        "id": "d27d6aa6bb6f05c8",
        "type": "OPCUA-IIoT-Read",
        "z": "cd973ab6aa67a51e",
        "attributeId": 0,
        "maxAge": 1,
        "depth": 1,
        "connector": "51e426ac73bfee54",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 210,
        "y": 200,
        "wires": [
            [
                "e8b2e4fc81d3c089"
            ]
        ]
    },
    {
        "id": "bae57325daa1b512",
        "type": "OPCUA-IIoT-Node",
        "z": "cd973ab6aa67a51e",
        "injectType": "read",
        "nodeId": "ns=4;s=MESData",
        "datatype": "",
        "value": "",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 210,
        "y": 160,
        "wires": [
            [
                "d27d6aa6bb6f05c8"
            ]
        ]
    },
    {
        "id": "ef41fb664861148f",
        "type": "OPCUA-IIoT-Inject",
        "z": "cd973ab6aa67a51e",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 210,
        "y": 120,
        "wires": [
            [
                "bae57325daa1b512"
            ]
        ]
    },
    {
        "id": "e8b2e4fc81d3c089",
        "type": "function",
        "z": "cd973ab6aa67a51e",
        "name": "172.20.1.10",
        "func": "msg.payload = msg.payload.value[0].value\nmsg.source=\"172.20.1.10\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 240,
        "wires": [
            [
                "4040f3cc9d101776",
                "6b6f1cfbab60c59f"
            ]
        ]
    },
    {
        "id": "6b6f1cfbab60c59f",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 30",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "fca4936dc7eaee56",
        "type": "inject",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "172.20.2.1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"MES在线心跳\":true,\"铁芯磁钢装配站数据\":{\"请求\":false,\"反馈OK\":false,\"反馈NG\":false,\"MES_local\":false,\"生产前触发\":false,\"生产前反馈OK\":false,\"生产前反馈NG\":false,\"工位数据采集\":false,\"当前配方号\":0,\"工序名称\":\"转子插磁钢\",\"二维码\":\"ERROR2403132BED\",\"生产结果\":\"NG\",\"转轴深度数据\":18.36,\"转轴深度上限\":22.7,\"转轴深度下限\":21.4,\"铁芯子件二维码\":\" \",\"当前配方名称\":\"\",\"初次压入最终力\":229.592,\"初次压入最终位移\":218,\"中间压入最终力\":242.959,\"中间压入最终位移\":204.302,\"右侧压入最终力\":1364.082,\"右侧压入最终位移\":200.049,\"备用\":0,\"转子1批次号\":\"20240123\",\"转子2批次号\":\"20240123\",\"磁钢批次号\":\"20240123\",\"中心轴批次号\":\"20240123\",\"转子1上料时间\":\"2024.01.23\",\"转子2上料时间\":\"2024.01.23\",\"磁钢上料时间\":\"2024.01.23\",\"中心轴上料时间\":\"2024.01.23\",\"磁钢高度\":\"7 10 9\",\"eqpNo\":\"\",\"workOrderCode\":\"\",\"processCode\":\"\",\"partId\":\"\",\"materials\":\"[object Object] [object Object] [object Object] [object Object] [object Object] [object Object]\",\"反馈结果信息\":\"\"},\"来料物料上传\":{\"eqpNo\":\"\",\"workOrderCode\":\"\",\"materialCode\":\"\",\"lotNo\":\"\",\"traceNo\":\"\",\"请求\":true,\"反馈OK\":false,\"反馈NG\":false,\"来料物料上传结果\":\"false false false false false false false false false false false false false false false false\",\"反馈结果信息\":\"\"}}",
        "payloadType": "json",
        "x": 470,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "8b84bac722321cf3",
        "type": "OPCUA-IIoT-Write",
        "z": "cd973ab6aa67a51e",
        "connector": "86171c58f02f1f02",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 290,
        "y": 700,
        "wires": [
            [
                "29ad4faa272865fa"
            ]
        ]
    },
    {
        "id": "29ad4faa272865fa",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 31",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 700,
        "wires": []
    },
    {
        "id": "8a5d87a37a65fddc",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 32",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 640,
        "wires": []
    },
    {
        "id": "3343925b2fa5121f",
        "type": "subflow:abe5ee3b6d18d879",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "x": 220,
        "y": 640,
        "wires": [
            [
                "8b84bac722321cf3"
            ],
            [
                "8b84bac722321cf3"
            ],
            [
                "8b84bac722321cf3",
                "8a5d87a37a65fddc"
            ]
        ]
    },
    {
        "id": "65241f86bf554268",
        "type": "OPCUA-IIoT-Read",
        "z": "cd973ab6aa67a51e",
        "attributeId": 0,
        "maxAge": 1,
        "depth": 1,
        "connector": "86171c58f02f1f02",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 210,
        "y": 540,
        "wires": [
            [
                "36fa7616b31b4082"
            ]
        ]
    },
    {
        "id": "7da57af5f76e019f",
        "type": "OPCUA-IIoT-Node",
        "z": "cd973ab6aa67a51e",
        "injectType": "read",
        "nodeId": "ns=4;s=MESData",
        "datatype": "",
        "value": "",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 210,
        "y": 500,
        "wires": [
            [
                "65241f86bf554268"
            ]
        ]
    },
    {
        "id": "2f602226d4e07795",
        "type": "OPCUA-IIoT-Inject",
        "z": "cd973ab6aa67a51e",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 210,
        "y": 460,
        "wires": [
            [
                "7da57af5f76e019f"
            ]
        ]
    },
    {
        "id": "36fa7616b31b4082",
        "type": "function",
        "z": "cd973ab6aa67a51e",
        "name": "172.20.1.20",
        "func": "msg.payload = msg.payload.value[0].value\nmsg.source=\"172.20.1.20\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 580,
        "wires": [
            [
                "3343925b2fa5121f",
                "048dc1489020cbfd"
            ]
        ]
    },
    {
        "id": "048dc1489020cbfd",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 33",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 560,
        "wires": []
    },
    {
        "id": "78f87fcb040785e2",
        "type": "inject",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "172.20.2.1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"MES在线心跳\":true,\"铁芯磁钢装配站数据\":{\"请求\":false,\"反馈OK\":false,\"反馈NG\":false,\"MES_local\":false,\"生产前触发\":false,\"生产前反馈OK\":false,\"生产前反馈NG\":false,\"工位数据采集\":false,\"当前配方号\":0,\"工序名称\":\"转子插磁钢\",\"二维码\":\"ERROR2403132BED\",\"生产结果\":\"NG\",\"转轴深度数据\":18.36,\"转轴深度上限\":22.7,\"转轴深度下限\":21.4,\"铁芯子件二维码\":\" \",\"当前配方名称\":\"\",\"初次压入最终力\":229.592,\"初次压入最终位移\":218,\"中间压入最终力\":242.959,\"中间压入最终位移\":204.302,\"右侧压入最终力\":1364.082,\"右侧压入最终位移\":200.049,\"备用\":0,\"转子1批次号\":\"20240123\",\"转子2批次号\":\"20240123\",\"磁钢批次号\":\"20240123\",\"中心轴批次号\":\"20240123\",\"转子1上料时间\":\"2024.01.23\",\"转子2上料时间\":\"2024.01.23\",\"磁钢上料时间\":\"2024.01.23\",\"中心轴上料时间\":\"2024.01.23\",\"磁钢高度\":\"7 10 9\",\"eqpNo\":\"\",\"workOrderCode\":\"\",\"processCode\":\"\",\"partId\":\"\",\"materials\":\"[object Object] [object Object] [object Object] [object Object] [object Object] [object Object]\",\"反馈结果信息\":\"\"},\"来料物料上传\":{\"eqpNo\":\"\",\"workOrderCode\":\"\",\"materialCode\":\"\",\"lotNo\":\"\",\"traceNo\":\"\",\"请求\":true,\"反馈OK\":false,\"反馈NG\":false,\"来料物料上传结果\":\"false false false false false false false false false false false false false false false false\",\"反馈结果信息\":\"\"}}",
        "payloadType": "json",
        "x": 450,
        "y": 860,
        "wires": [
            []
        ]
    },
    {
        "id": "6360d3d588eadc3f",
        "type": "OPCUA-IIoT-Write",
        "z": "cd973ab6aa67a51e",
        "connector": "30a546349af6db47",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 270,
        "y": 1080,
        "wires": [
            [
                "9d78e9a02cccbaba"
            ]
        ]
    },
    {
        "id": "9d78e9a02cccbaba",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 34",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 1080,
        "wires": []
    },
    {
        "id": "de26c95ed5c146a5",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 35",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 1020,
        "wires": []
    },
    {
        "id": "e86282ea69ff1b02",
        "type": "subflow:abe5ee3b6d18d879",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "x": 200,
        "y": 1020,
        "wires": [
            [
                "6360d3d588eadc3f"
            ],
            [
                "6360d3d588eadc3f"
            ],
            [
                "6360d3d588eadc3f",
                "de26c95ed5c146a5"
            ]
        ]
    },
    {
        "id": "ac0d8f21f183caa2",
        "type": "OPCUA-IIoT-Read",
        "z": "cd973ab6aa67a51e",
        "attributeId": 0,
        "maxAge": 1,
        "depth": 1,
        "connector": "30a546349af6db47",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 190,
        "y": 920,
        "wires": [
            [
                "89180789e8a8a07a"
            ]
        ]
    },
    {
        "id": "2f2321253d2df645",
        "type": "OPCUA-IIoT-Node",
        "z": "cd973ab6aa67a51e",
        "injectType": "read",
        "nodeId": "ns=4;s=MESData",
        "datatype": "",
        "value": "",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 190,
        "y": 880,
        "wires": [
            [
                "ac0d8f21f183caa2"
            ]
        ]
    },
    {
        "id": "d3db920175131e49",
        "type": "OPCUA-IIoT-Inject",
        "z": "cd973ab6aa67a51e",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 190,
        "y": 840,
        "wires": [
            [
                "2f2321253d2df645"
            ]
        ]
    },
    {
        "id": "89180789e8a8a07a",
        "type": "function",
        "z": "cd973ab6aa67a51e",
        "name": "172.20.1.30",
        "func": "msg.payload = msg.payload.value[0].value\nmsg.source=\"172.20.1.30\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 960,
        "wires": [
            [
                "e86282ea69ff1b02",
                "6e6a0d70cd41beb2"
            ]
        ]
    },
    {
        "id": "6e6a0d70cd41beb2",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 36",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 940,
        "wires": []
    },
    {
        "id": "22cf92749b3365a9",
        "type": "inject",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "172.20.2.1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"MES在线心跳\":true,\"铁芯磁钢装配站数据\":{\"请求\":false,\"反馈OK\":false,\"反馈NG\":false,\"MES_local\":false,\"生产前触发\":false,\"生产前反馈OK\":false,\"生产前反馈NG\":false,\"工位数据采集\":false,\"当前配方号\":0,\"工序名称\":\"转子插磁钢\",\"二维码\":\"ERROR2403132BED\",\"生产结果\":\"NG\",\"转轴深度数据\":18.36,\"转轴深度上限\":22.7,\"转轴深度下限\":21.4,\"铁芯子件二维码\":\" \",\"当前配方名称\":\"\",\"初次压入最终力\":229.592,\"初次压入最终位移\":218,\"中间压入最终力\":242.959,\"中间压入最终位移\":204.302,\"右侧压入最终力\":1364.082,\"右侧压入最终位移\":200.049,\"备用\":0,\"转子1批次号\":\"20240123\",\"转子2批次号\":\"20240123\",\"磁钢批次号\":\"20240123\",\"中心轴批次号\":\"20240123\",\"转子1上料时间\":\"2024.01.23\",\"转子2上料时间\":\"2024.01.23\",\"磁钢上料时间\":\"2024.01.23\",\"中心轴上料时间\":\"2024.01.23\",\"磁钢高度\":\"7 10 9\",\"eqpNo\":\"\",\"workOrderCode\":\"\",\"processCode\":\"\",\"partId\":\"\",\"materials\":\"[object Object] [object Object] [object Object] [object Object] [object Object] [object Object]\",\"反馈结果信息\":\"\"},\"来料物料上传\":{\"eqpNo\":\"\",\"workOrderCode\":\"\",\"materialCode\":\"\",\"lotNo\":\"\",\"traceNo\":\"\",\"请求\":true,\"反馈OK\":false,\"反馈NG\":false,\"来料物料上传结果\":\"false false false false false false false false false false false false false false false false\",\"反馈结果信息\":\"\"}}",
        "payloadType": "json",
        "x": 430,
        "y": 1200,
        "wires": [
            []
        ]
    },
    {
        "id": "451d332346c17106",
        "type": "OPCUA-IIoT-Write",
        "z": "cd973ab6aa67a51e",
        "connector": "6cdfd52e454e3efd",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 250,
        "y": 1420,
        "wires": [
            [
                "e8412faa0a89f176"
            ]
        ]
    },
    {
        "id": "e8412faa0a89f176",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 37",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 1420,
        "wires": []
    },
    {
        "id": "86ed23445b752ec4",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 38",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 1360,
        "wires": []
    },
    {
        "id": "d537f70077bc541c",
        "type": "subflow:abe5ee3b6d18d879",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "x": 180,
        "y": 1360,
        "wires": [
            [
                "451d332346c17106"
            ],
            [
                "451d332346c17106"
            ],
            [
                "451d332346c17106",
                "86ed23445b752ec4"
            ]
        ]
    },
    {
        "id": "91484b44a8ad997d",
        "type": "OPCUA-IIoT-Read",
        "z": "cd973ab6aa67a51e",
        "attributeId": 0,
        "maxAge": 1,
        "depth": 1,
        "connector": "6cdfd52e454e3efd",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 170,
        "y": 1260,
        "wires": [
            [
                "7f052e9f8f881da8"
            ]
        ]
    },
    {
        "id": "656509e96a772e57",
        "type": "OPCUA-IIoT-Node",
        "z": "cd973ab6aa67a51e",
        "injectType": "read",
        "nodeId": "ns=4;s=MESData",
        "datatype": "",
        "value": "",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 170,
        "y": 1200,
        "wires": [
            [
                "91484b44a8ad997d"
            ]
        ]
    },
    {
        "id": "82dac6a03a18d0a6",
        "type": "OPCUA-IIoT-Inject",
        "z": "cd973ab6aa67a51e",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 170,
        "y": 1160,
        "wires": [
            [
                "656509e96a772e57"
            ]
        ]
    },
    {
        "id": "7f052e9f8f881da8",
        "type": "function",
        "z": "cd973ab6aa67a51e",
        "name": "172.20.1.40",
        "func": "msg.payload = msg.payload.value[0].value\nmsg.source=\"172.20.1.40\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 190,
        "y": 1300,
        "wires": [
            [
                "d537f70077bc541c",
                "cb2cab9112086cc1"
            ]
        ]
    },
    {
        "id": "cb2cab9112086cc1",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 39",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 1280,
        "wires": []
    },
    {
        "id": "7191a1eb4fd8d480",
        "type": "inject",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "172.20.2.1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"MES在线心跳\":true,\"铁芯磁钢装配站数据\":{\"请求\":false,\"反馈OK\":false,\"反馈NG\":false,\"MES_local\":false,\"生产前触发\":false,\"生产前反馈OK\":false,\"生产前反馈NG\":false,\"工位数据采集\":false,\"当前配方号\":0,\"工序名称\":\"转子插磁钢\",\"二维码\":\"ERROR2403132BED\",\"生产结果\":\"NG\",\"转轴深度数据\":18.36,\"转轴深度上限\":22.7,\"转轴深度下限\":21.4,\"铁芯子件二维码\":\" \",\"当前配方名称\":\"\",\"初次压入最终力\":229.592,\"初次压入最终位移\":218,\"中间压入最终力\":242.959,\"中间压入最终位移\":204.302,\"右侧压入最终力\":1364.082,\"右侧压入最终位移\":200.049,\"备用\":0,\"转子1批次号\":\"20240123\",\"转子2批次号\":\"20240123\",\"磁钢批次号\":\"20240123\",\"中心轴批次号\":\"20240123\",\"转子1上料时间\":\"2024.01.23\",\"转子2上料时间\":\"2024.01.23\",\"磁钢上料时间\":\"2024.01.23\",\"中心轴上料时间\":\"2024.01.23\",\"磁钢高度\":\"7 10 9\",\"eqpNo\":\"\",\"workOrderCode\":\"\",\"processCode\":\"\",\"partId\":\"\",\"materials\":\"[object Object] [object Object] [object Object] [object Object] [object Object] [object Object]\",\"反馈结果信息\":\"\"},\"来料物料上传\":{\"eqpNo\":\"\",\"workOrderCode\":\"\",\"materialCode\":\"\",\"lotNo\":\"\",\"traceNo\":\"\",\"请求\":true,\"反馈OK\":false,\"反馈NG\":false,\"来料物料上传结果\":\"false false false false false false false false false false false false false false false false\",\"反馈结果信息\":\"\"}}",
        "payloadType": "json",
        "x": 470,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "e39d2531bf446bbd",
        "type": "OPCUA-IIoT-Write",
        "z": "cd973ab6aa67a51e",
        "connector": "05ce4bf46e47d87a",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 290,
        "y": 1780,
        "wires": [
            [
                "ecdbf9ad4dc959e6"
            ]
        ]
    },
    {
        "id": "ecdbf9ad4dc959e6",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 40",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 1780,
        "wires": []
    },
    {
        "id": "618f3f1beee0e2f6",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 41",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 1720,
        "wires": []
    },
    {
        "id": "074a9635a1825242",
        "type": "subflow:abe5ee3b6d18d879",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "x": 220,
        "y": 1720,
        "wires": [
            [
                "e39d2531bf446bbd"
            ],
            [
                "e39d2531bf446bbd"
            ],
            [
                "e39d2531bf446bbd",
                "618f3f1beee0e2f6"
            ]
        ]
    },
    {
        "id": "565d4660259e75b4",
        "type": "OPCUA-IIoT-Read",
        "z": "cd973ab6aa67a51e",
        "attributeId": 0,
        "maxAge": 1,
        "depth": 1,
        "connector": "05ce4bf46e47d87a",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 210,
        "y": 1620,
        "wires": [
            [
                "5c1daf73f0f127fc"
            ]
        ]
    },
    {
        "id": "37cb8c0bfa1dfc9d",
        "type": "OPCUA-IIoT-Node",
        "z": "cd973ab6aa67a51e",
        "injectType": "read",
        "nodeId": "ns=4;s=MESData",
        "datatype": "",
        "value": "",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 210,
        "y": 1580,
        "wires": [
            [
                "565d4660259e75b4"
            ]
        ]
    },
    {
        "id": "b1f36b238026b4c8",
        "type": "OPCUA-IIoT-Inject",
        "z": "cd973ab6aa67a51e",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 210,
        "y": 1540,
        "wires": [
            [
                "37cb8c0bfa1dfc9d"
            ]
        ]
    },
    {
        "id": "5c1daf73f0f127fc",
        "type": "function",
        "z": "cd973ab6aa67a51e",
        "name": "172.20.1.50",
        "func": "msg.payload = msg.payload.value[0].value\nmsg.source=\"172.20.1.50\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 1660,
        "wires": [
            [
                "074a9635a1825242",
                "daa93ee3e13da792"
            ]
        ]
    },
    {
        "id": "daa93ee3e13da792",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 42",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1640,
        "wires": []
    },
    {
        "id": "e1fde9b76f87a844",
        "type": "inject",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "172.20.2.1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"MES在线心跳\":true,\"铁芯磁钢装配站数据\":{\"请求\":false,\"反馈OK\":false,\"反馈NG\":false,\"MES_local\":false,\"生产前触发\":false,\"生产前反馈OK\":false,\"生产前反馈NG\":false,\"工位数据采集\":false,\"当前配方号\":0,\"工序名称\":\"转子插磁钢\",\"二维码\":\"ERROR2403132BED\",\"生产结果\":\"NG\",\"转轴深度数据\":18.36,\"转轴深度上限\":22.7,\"转轴深度下限\":21.4,\"铁芯子件二维码\":\" \",\"当前配方名称\":\"\",\"初次压入最终力\":229.592,\"初次压入最终位移\":218,\"中间压入最终力\":242.959,\"中间压入最终位移\":204.302,\"右侧压入最终力\":1364.082,\"右侧压入最终位移\":200.049,\"备用\":0,\"转子1批次号\":\"20240123\",\"转子2批次号\":\"20240123\",\"磁钢批次号\":\"20240123\",\"中心轴批次号\":\"20240123\",\"转子1上料时间\":\"2024.01.23\",\"转子2上料时间\":\"2024.01.23\",\"磁钢上料时间\":\"2024.01.23\",\"中心轴上料时间\":\"2024.01.23\",\"磁钢高度\":\"7 10 9\",\"eqpNo\":\"\",\"workOrderCode\":\"\",\"processCode\":\"\",\"partId\":\"\",\"materials\":\"[object Object] [object Object] [object Object] [object Object] [object Object] [object Object]\",\"反馈结果信息\":\"\"},\"来料物料上传\":{\"eqpNo\":\"\",\"workOrderCode\":\"\",\"materialCode\":\"\",\"lotNo\":\"\",\"traceNo\":\"\",\"请求\":true,\"反馈OK\":false,\"反馈NG\":false,\"来料物料上传结果\":\"false false false false false false false false false false false false false false false false\",\"反馈结果信息\":\"\"}}",
        "payloadType": "json",
        "x": 470,
        "y": 1900,
        "wires": [
            []
        ]
    },
    {
        "id": "64df436eded2cb83",
        "type": "OPCUA-IIoT-Write",
        "z": "cd973ab6aa67a51e",
        "connector": "b41a7d8e3780198c",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 290,
        "y": 2120,
        "wires": [
            [
                "7984dd363c0d7f8a"
            ]
        ]
    },
    {
        "id": "7984dd363c0d7f8a",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 44",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 2120,
        "wires": []
    },
    {
        "id": "db0ec00a05f998aa",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 45",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 2060,
        "wires": []
    },
    {
        "id": "2315a9d9671d6608",
        "type": "subflow:abe5ee3b6d18d879",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "x": 220,
        "y": 2060,
        "wires": [
            [
                "64df436eded2cb83"
            ],
            [
                "64df436eded2cb83"
            ],
            [
                "64df436eded2cb83",
                "db0ec00a05f998aa"
            ]
        ]
    },
    {
        "id": "5262211c99c792f1",
        "type": "OPCUA-IIoT-Read",
        "z": "cd973ab6aa67a51e",
        "attributeId": 0,
        "maxAge": 1,
        "depth": 1,
        "connector": "b41a7d8e3780198c",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 210,
        "y": 1960,
        "wires": [
            [
                "902a705305ef2db2"
            ]
        ]
    },
    {
        "id": "f71c54002b35b4f5",
        "type": "OPCUA-IIoT-Node",
        "z": "cd973ab6aa67a51e",
        "injectType": "read",
        "nodeId": "ns=4;s=MESData",
        "datatype": "",
        "value": "",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 210,
        "y": 1920,
        "wires": [
            [
                "5262211c99c792f1"
            ]
        ]
    },
    {
        "id": "3e7bdde970f2b612",
        "type": "OPCUA-IIoT-Inject",
        "z": "cd973ab6aa67a51e",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 210,
        "y": 1880,
        "wires": [
            [
                "f71c54002b35b4f5"
            ]
        ]
    },
    {
        "id": "902a705305ef2db2",
        "type": "function",
        "z": "cd973ab6aa67a51e",
        "name": "172.20.1.70",
        "func": "msg.payload = msg.payload.value[0].value\nmsg.source=\"172.20.1.70\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 2000,
        "wires": [
            [
                "2315a9d9671d6608",
                "efae12e5f25e04cb"
            ]
        ]
    },
    {
        "id": "efae12e5f25e04cb",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 46",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 1980,
        "wires": []
    },
    {
        "id": "080c691f65752f30",
        "type": "inject",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "172.20.2.1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"MES在线心跳\":true,\"铁芯磁钢装配站数据\":{\"请求\":false,\"反馈OK\":false,\"反馈NG\":false,\"MES_local\":false,\"生产前触发\":false,\"生产前反馈OK\":false,\"生产前反馈NG\":false,\"工位数据采集\":false,\"当前配方号\":0,\"工序名称\":\"转子插磁钢\",\"二维码\":\"ERROR2403132BED\",\"生产结果\":\"NG\",\"转轴深度数据\":18.36,\"转轴深度上限\":22.7,\"转轴深度下限\":21.4,\"铁芯子件二维码\":\" \",\"当前配方名称\":\"\",\"初次压入最终力\":229.592,\"初次压入最终位移\":218,\"中间压入最终力\":242.959,\"中间压入最终位移\":204.302,\"右侧压入最终力\":1364.082,\"右侧压入最终位移\":200.049,\"备用\":0,\"转子1批次号\":\"20240123\",\"转子2批次号\":\"20240123\",\"磁钢批次号\":\"20240123\",\"中心轴批次号\":\"20240123\",\"转子1上料时间\":\"2024.01.23\",\"转子2上料时间\":\"2024.01.23\",\"磁钢上料时间\":\"2024.01.23\",\"中心轴上料时间\":\"2024.01.23\",\"磁钢高度\":\"7 10 9\",\"eqpNo\":\"\",\"workOrderCode\":\"\",\"processCode\":\"\",\"partId\":\"\",\"materials\":\"[object Object] [object Object] [object Object] [object Object] [object Object] [object Object]\",\"反馈结果信息\":\"\"},\"来料物料上传\":{\"eqpNo\":\"\",\"workOrderCode\":\"\",\"materialCode\":\"\",\"lotNo\":\"\",\"traceNo\":\"\",\"请求\":true,\"反馈OK\":false,\"反馈NG\":false,\"来料物料上传结果\":\"false false false false false false false false false false false false false false false false\",\"反馈结果信息\":\"\"}}",
        "payloadType": "json",
        "x": 510,
        "y": 2220,
        "wires": [
            []
        ]
    },
    {
        "id": "0c3a9705bb4afc76",
        "type": "OPCUA-IIoT-Write",
        "z": "cd973ab6aa67a51e",
        "connector": "e479665d8a3dbb72",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 330,
        "y": 2440,
        "wires": [
            [
                "f21f7c7076980ba5"
            ]
        ]
    },
    {
        "id": "f21f7c7076980ba5",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 47",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 2440,
        "wires": []
    },
    {
        "id": "defb868bd17b60d3",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 48",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 2380,
        "wires": []
    },
    {
        "id": "332a01f21a70fed6",
        "type": "subflow:abe5ee3b6d18d879",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "x": 260,
        "y": 2380,
        "wires": [
            [
                "0c3a9705bb4afc76"
            ],
            [
                "0c3a9705bb4afc76"
            ],
            [
                "0c3a9705bb4afc76",
                "defb868bd17b60d3"
            ]
        ]
    },
    {
        "id": "e91015ca7e707bfd",
        "type": "OPCUA-IIoT-Read",
        "z": "cd973ab6aa67a51e",
        "attributeId": 0,
        "maxAge": 1,
        "depth": 1,
        "connector": "e479665d8a3dbb72",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 250,
        "y": 2280,
        "wires": [
            [
                "ebf72be4f6315c26"
            ]
        ]
    },
    {
        "id": "d237025cc3b5c9a9",
        "type": "OPCUA-IIoT-Node",
        "z": "cd973ab6aa67a51e",
        "injectType": "read",
        "nodeId": "ns=4;s=MESData",
        "datatype": "",
        "value": "",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 250,
        "y": 2240,
        "wires": [
            [
                "e91015ca7e707bfd"
            ]
        ]
    },
    {
        "id": "a2200e06d6cc17c6",
        "type": "OPCUA-IIoT-Inject",
        "z": "cd973ab6aa67a51e",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 250,
        "y": 2200,
        "wires": [
            [
                "d237025cc3b5c9a9"
            ]
        ]
    },
    {
        "id": "ebf72be4f6315c26",
        "type": "function",
        "z": "cd973ab6aa67a51e",
        "name": "172.20.1.80",
        "func": "msg.payload = msg.payload.value[0].value\nmsg.source=\"172.20.1.80\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 270,
        "y": 2320,
        "wires": [
            [
                "332a01f21a70fed6",
                "715611e40a5ee964"
            ]
        ]
    },
    {
        "id": "715611e40a5ee964",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 49",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 2300,
        "wires": []
    },
    {
        "id": "05894c9d02cbb309",
        "type": "inject",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "172.20.2.1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"MES在线心跳\":true,\"铁芯磁钢装配站数据\":{\"请求\":false,\"反馈OK\":false,\"反馈NG\":false,\"MES_local\":false,\"生产前触发\":false,\"生产前反馈OK\":false,\"生产前反馈NG\":false,\"工位数据采集\":false,\"当前配方号\":0,\"工序名称\":\"转子插磁钢\",\"二维码\":\"ERROR2403132BED\",\"生产结果\":\"NG\",\"转轴深度数据\":18.36,\"转轴深度上限\":22.7,\"转轴深度下限\":21.4,\"铁芯子件二维码\":\" \",\"当前配方名称\":\"\",\"初次压入最终力\":229.592,\"初次压入最终位移\":218,\"中间压入最终力\":242.959,\"中间压入最终位移\":204.302,\"右侧压入最终力\":1364.082,\"右侧压入最终位移\":200.049,\"备用\":0,\"转子1批次号\":\"20240123\",\"转子2批次号\":\"20240123\",\"磁钢批次号\":\"20240123\",\"中心轴批次号\":\"20240123\",\"转子1上料时间\":\"2024.01.23\",\"转子2上料时间\":\"2024.01.23\",\"磁钢上料时间\":\"2024.01.23\",\"中心轴上料时间\":\"2024.01.23\",\"磁钢高度\":\"7 10 9\",\"eqpNo\":\"\",\"workOrderCode\":\"\",\"processCode\":\"\",\"partId\":\"\",\"materials\":\"[object Object] [object Object] [object Object] [object Object] [object Object] [object Object]\",\"反馈结果信息\":\"\"},\"来料物料上传\":{\"eqpNo\":\"\",\"workOrderCode\":\"\",\"materialCode\":\"\",\"lotNo\":\"\",\"traceNo\":\"\",\"请求\":true,\"反馈OK\":false,\"反馈NG\":false,\"来料物料上传结果\":\"false false false false false false false false false false false false false false false false\",\"反馈结果信息\":\"\"}}",
        "payloadType": "json",
        "x": 470,
        "y": 2560,
        "wires": [
            []
        ]
    },
    {
        "id": "9099d580296161bd",
        "type": "OPCUA-IIoT-Write",
        "z": "cd973ab6aa67a51e",
        "connector": "58dbba27a32b9481",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 290,
        "y": 2780,
        "wires": [
            [
                "57c6943f56dc6b8d"
            ]
        ]
    },
    {
        "id": "57c6943f56dc6b8d",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 50",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 2780,
        "wires": []
    },
    {
        "id": "7ae7f9cd8b214611",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 51",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 2720,
        "wires": []
    },
    {
        "id": "c7d5fc912b734993",
        "type": "subflow:abe5ee3b6d18d879",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "x": 220,
        "y": 2720,
        "wires": [
            [
                "9099d580296161bd"
            ],
            [
                "9099d580296161bd"
            ],
            [
                "9099d580296161bd",
                "7ae7f9cd8b214611"
            ]
        ]
    },
    {
        "id": "57db6cf51d9da96c",
        "type": "OPCUA-IIoT-Read",
        "z": "cd973ab6aa67a51e",
        "attributeId": 0,
        "maxAge": 1,
        "depth": 1,
        "connector": "58dbba27a32b9481",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 210,
        "y": 2620,
        "wires": [
            [
                "22b423f1e18b268f"
            ]
        ]
    },
    {
        "id": "05a53af896466a20",
        "type": "OPCUA-IIoT-Node",
        "z": "cd973ab6aa67a51e",
        "injectType": "read",
        "nodeId": "ns=4;s=MESData",
        "datatype": "",
        "value": "",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 210,
        "y": 2580,
        "wires": [
            [
                "57db6cf51d9da96c"
            ]
        ]
    },
    {
        "id": "99cb5a91c1b93b65",
        "type": "OPCUA-IIoT-Inject",
        "z": "cd973ab6aa67a51e",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 210,
        "y": 2540,
        "wires": [
            [
                "05a53af896466a20"
            ]
        ]
    },
    {
        "id": "22b423f1e18b268f",
        "type": "function",
        "z": "cd973ab6aa67a51e",
        "name": "172.20.1.90",
        "func": "msg.payload = msg.payload.value[0].value\nmsg.source=\"172.20.1.90\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 2660,
        "wires": [
            [
                "c7d5fc912b734993",
                "db1246c3f6ecd325"
            ]
        ]
    },
    {
        "id": "db1246c3f6ecd325",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 52",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 2640,
        "wires": []
    },
    {
        "id": "1e8fa22541d6a2c3",
        "type": "inject",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "172.20.2.1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"MES在线心跳\":true,\"铁芯磁钢装配站数据\":{\"请求\":false,\"反馈OK\":false,\"反馈NG\":false,\"MES_local\":false,\"生产前触发\":false,\"生产前反馈OK\":false,\"生产前反馈NG\":false,\"工位数据采集\":false,\"当前配方号\":0,\"工序名称\":\"转子插磁钢\",\"二维码\":\"ERROR2403132BED\",\"生产结果\":\"NG\",\"转轴深度数据\":18.36,\"转轴深度上限\":22.7,\"转轴深度下限\":21.4,\"铁芯子件二维码\":\" \",\"当前配方名称\":\"\",\"初次压入最终力\":229.592,\"初次压入最终位移\":218,\"中间压入最终力\":242.959,\"中间压入最终位移\":204.302,\"右侧压入最终力\":1364.082,\"右侧压入最终位移\":200.049,\"备用\":0,\"转子1批次号\":\"20240123\",\"转子2批次号\":\"20240123\",\"磁钢批次号\":\"20240123\",\"中心轴批次号\":\"20240123\",\"转子1上料时间\":\"2024.01.23\",\"转子2上料时间\":\"2024.01.23\",\"磁钢上料时间\":\"2024.01.23\",\"中心轴上料时间\":\"2024.01.23\",\"磁钢高度\":\"7 10 9\",\"eqpNo\":\"\",\"workOrderCode\":\"\",\"processCode\":\"\",\"partId\":\"\",\"materials\":\"[object Object] [object Object] [object Object] [object Object] [object Object] [object Object]\",\"反馈结果信息\":\"\"},\"来料物料上传\":{\"eqpNo\":\"\",\"workOrderCode\":\"\",\"materialCode\":\"\",\"lotNo\":\"\",\"traceNo\":\"\",\"请求\":true,\"反馈OK\":false,\"反馈NG\":false,\"来料物料上传结果\":\"false false false false false false false false false false false false false false false false\",\"反馈结果信息\":\"\"}}",
        "payloadType": "json",
        "x": 470,
        "y": 2940,
        "wires": [
            []
        ]
    },
    {
        "id": "02917296f0a5b5f3",
        "type": "OPCUA-IIoT-Write",
        "z": "cd973ab6aa67a51e",
        "connector": "b664f4e92da70e97",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 290,
        "y": 3160,
        "wires": [
            [
                "8bd6a3d311a2cca2"
            ]
        ]
    },
    {
        "id": "8bd6a3d311a2cca2",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 53",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 3160,
        "wires": []
    },
    {
        "id": "741b86999c894ae3",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 54",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 3100,
        "wires": []
    },
    {
        "id": "c6490641e4511944",
        "type": "subflow:abe5ee3b6d18d879",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "x": 220,
        "y": 3100,
        "wires": [
            [
                "02917296f0a5b5f3"
            ],
            [
                "02917296f0a5b5f3"
            ],
            [
                "02917296f0a5b5f3",
                "741b86999c894ae3"
            ]
        ]
    },
    {
        "id": "3e3b34d8ef880580",
        "type": "OPCUA-IIoT-Read",
        "z": "cd973ab6aa67a51e",
        "attributeId": 0,
        "maxAge": 1,
        "depth": 1,
        "connector": "b664f4e92da70e97",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 210,
        "y": 3000,
        "wires": [
            [
                "28fdd72977058751"
            ]
        ]
    },
    {
        "id": "909d5430450dbaba",
        "type": "OPCUA-IIoT-Node",
        "z": "cd973ab6aa67a51e",
        "injectType": "read",
        "nodeId": "ns=4;s=MESData",
        "datatype": "",
        "value": "",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 210,
        "y": 2960,
        "wires": [
            [
                "3e3b34d8ef880580"
            ]
        ]
    },
    {
        "id": "34912062ac5ca486",
        "type": "OPCUA-IIoT-Inject",
        "z": "cd973ab6aa67a51e",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 210,
        "y": 2920,
        "wires": [
            [
                "909d5430450dbaba"
            ]
        ]
    },
    {
        "id": "28fdd72977058751",
        "type": "function",
        "z": "cd973ab6aa67a51e",
        "name": "172.20.1.100",
        "func": "msg.payload = msg.payload.value[0].value\nmsg.source=\"172.20.1.100\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 230,
        "y": 3040,
        "wires": [
            [
                "c6490641e4511944",
                "db0113870124acd9"
            ]
        ]
    },
    {
        "id": "db0113870124acd9",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 55",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 3020,
        "wires": []
    },
    {
        "id": "c030ce2eaaabae50",
        "type": "inject",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "source",
                "v": "172.20.2.1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"MES在线心跳\":true,\"铁芯磁钢装配站数据\":{\"请求\":false,\"反馈OK\":false,\"反馈NG\":false,\"MES_local\":false,\"生产前触发\":false,\"生产前反馈OK\":false,\"生产前反馈NG\":false,\"工位数据采集\":false,\"当前配方号\":0,\"工序名称\":\"转子插磁钢\",\"二维码\":\"ERROR2403132BED\",\"生产结果\":\"NG\",\"转轴深度数据\":18.36,\"转轴深度上限\":22.7,\"转轴深度下限\":21.4,\"铁芯子件二维码\":\" \",\"当前配方名称\":\"\",\"初次压入最终力\":229.592,\"初次压入最终位移\":218,\"中间压入最终力\":242.959,\"中间压入最终位移\":204.302,\"右侧压入最终力\":1364.082,\"右侧压入最终位移\":200.049,\"备用\":0,\"转子1批次号\":\"20240123\",\"转子2批次号\":\"20240123\",\"磁钢批次号\":\"20240123\",\"中心轴批次号\":\"20240123\",\"转子1上料时间\":\"2024.01.23\",\"转子2上料时间\":\"2024.01.23\",\"磁钢上料时间\":\"2024.01.23\",\"中心轴上料时间\":\"2024.01.23\",\"磁钢高度\":\"7 10 9\",\"eqpNo\":\"\",\"workOrderCode\":\"\",\"processCode\":\"\",\"partId\":\"\",\"materials\":\"[object Object] [object Object] [object Object] [object Object] [object Object] [object Object]\",\"反馈结果信息\":\"\"},\"来料物料上传\":{\"eqpNo\":\"\",\"workOrderCode\":\"\",\"materialCode\":\"\",\"lotNo\":\"\",\"traceNo\":\"\",\"请求\":true,\"反馈OK\":false,\"反馈NG\":false,\"来料物料上传结果\":\"false false false false false false false false false false false false false false false false\",\"反馈结果信息\":\"\"}}",
        "payloadType": "json",
        "x": 490,
        "y": 3280,
        "wires": [
            []
        ]
    },
    {
        "id": "0da062b86df6944f",
        "type": "OPCUA-IIoT-Write",
        "z": "cd973ab6aa67a51e",
        "connector": "09457a6e359a3424",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 310,
        "y": 3500,
        "wires": [
            [
                "51a39adf7d1c0dcf"
            ]
        ]
    },
    {
        "id": "51a39adf7d1c0dcf",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 56",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 3500,
        "wires": []
    },
    {
        "id": "cd20bcde516787ac",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 57",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 3440,
        "wires": []
    },
    {
        "id": "47d4b45082095db8",
        "type": "subflow:abe5ee3b6d18d879",
        "z": "cd973ab6aa67a51e",
        "name": "",
        "x": 240,
        "y": 3440,
        "wires": [
            [
                "0da062b86df6944f"
            ],
            [
                "0da062b86df6944f"
            ],
            [
                "0da062b86df6944f",
                "cd20bcde516787ac"
            ]
        ]
    },
    {
        "id": "71cc1da3cf67c9b6",
        "type": "OPCUA-IIoT-Read",
        "z": "cd973ab6aa67a51e",
        "attributeId": 0,
        "maxAge": 1,
        "depth": 1,
        "connector": "09457a6e359a3424",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 230,
        "y": 3340,
        "wires": [
            [
                "28722465ddeb952b"
            ]
        ]
    },
    {
        "id": "910b8e728ed27368",
        "type": "OPCUA-IIoT-Node",
        "z": "cd973ab6aa67a51e",
        "injectType": "read",
        "nodeId": "ns=4;s=MESData",
        "datatype": "",
        "value": "",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 230,
        "y": 3300,
        "wires": [
            [
                "71cc1da3cf67c9b6"
            ]
        ]
    },
    {
        "id": "e117006aa52a4425",
        "type": "OPCUA-IIoT-Inject",
        "z": "cd973ab6aa67a51e",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 230,
        "y": 3260,
        "wires": [
            [
                "910b8e728ed27368"
            ]
        ]
    },
    {
        "id": "28722465ddeb952b",
        "type": "function",
        "z": "cd973ab6aa67a51e",
        "name": "172.20.1.110",
        "func": "msg.payload = msg.payload.value[0].value\nmsg.source=\"172.20.1.110\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 3380,
        "wires": [
            [
                "47d4b45082095db8",
                "62623f705cd91cd0"
            ]
        ]
    },
    {
        "id": "62623f705cd91cd0",
        "type": "debug",
        "z": "cd973ab6aa67a51e",
        "name": "debug 58",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 540,
        "y": 3360,
        "wires": []
    },
    {
        "id": "afb2eeb0ab23c8bc",
        "type": "OPCUA-IIoT-Write",
        "z": "2788f53de6e70b96",
        "connector": "5bf150fd8bf7916d",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 210,
        "y": 340,
        "wires": [
            [
                "b64c3320931d39c2"
            ]
        ]
    },
    {
        "id": "b64c3320931d39c2",
        "type": "debug",
        "z": "2788f53de6e70b96",
        "name": "debug 59",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 340,
        "wires": []
    },
    {
        "id": "386a0d9dbc7cac8d",
        "type": "debug",
        "z": "2788f53de6e70b96",
        "name": "debug 60",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 280,
        "wires": []
    },
    {
        "id": "c1256e1d964016e4",
        "type": "subflow:abe5ee3b6d18d879",
        "z": "2788f53de6e70b96",
        "name": "",
        "x": 140,
        "y": 280,
        "wires": [
            [
                "afb2eeb0ab23c8bc"
            ],
            [
                "afb2eeb0ab23c8bc"
            ],
            [
                "afb2eeb0ab23c8bc",
                "386a0d9dbc7cac8d"
            ]
        ]
    },
    {
        "id": "5d43ef9205b951f9",
        "type": "OPCUA-IIoT-Read",
        "z": "2788f53de6e70b96",
        "attributeId": 0,
        "maxAge": 1,
        "depth": 1,
        "connector": "5bf150fd8bf7916d",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 130,
        "y": 180,
        "wires": [
            [
                "cbf3e94fa898feb9",
                "dbf2e11ca07cd161"
            ]
        ]
    },
    {
        "id": "628f0143d6289c48",
        "type": "OPCUA-IIoT-Node",
        "z": "2788f53de6e70b96",
        "injectType": "read",
        "nodeId": "ns=4;s=MESData",
        "datatype": "",
        "value": "",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 130,
        "y": 140,
        "wires": [
            [
                "5d43ef9205b951f9"
            ]
        ]
    },
    {
        "id": "5514fac59119a453",
        "type": "OPCUA-IIoT-Inject",
        "z": "2788f53de6e70b96",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 130,
        "y": 100,
        "wires": [
            [
                "628f0143d6289c48"
            ]
        ]
    },
    {
        "id": "cbf3e94fa898feb9",
        "type": "function",
        "z": "2788f53de6e70b96",
        "name": "172.20.3.10",
        "func": "msg.payload = msg.payload.value[0].value\nmsg.source=\"172.20.3.10\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 220,
        "wires": [
            [
                "c1256e1d964016e4"
            ]
        ]
    },
    {
        "id": "dbf2e11ca07cd161",
        "type": "debug",
        "z": "2788f53de6e70b96",
        "name": "debug 61",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 200,
        "wires": []
    },
    {
        "id": "bef38263ee35c0d1",
        "type": "OPCUA-IIoT-Write",
        "z": "2788f53de6e70b96",
        "connector": "1a2892f4d0c18669",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 210,
        "y": 660,
        "wires": [
            [
                "d61c824c5e401cde"
            ]
        ]
    },
    {
        "id": "d61c824c5e401cde",
        "type": "debug",
        "z": "2788f53de6e70b96",
        "name": "debug 62",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 660,
        "wires": []
    },
    {
        "id": "7b5dc17eb50517e5",
        "type": "debug",
        "z": "2788f53de6e70b96",
        "name": "debug 63",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 600,
        "wires": []
    },
    {
        "id": "786e0f51574fd1a1",
        "type": "subflow:abe5ee3b6d18d879",
        "z": "2788f53de6e70b96",
        "name": "",
        "x": 140,
        "y": 600,
        "wires": [
            [
                "bef38263ee35c0d1"
            ],
            [
                "bef38263ee35c0d1"
            ],
            [
                "bef38263ee35c0d1",
                "7b5dc17eb50517e5"
            ]
        ]
    },
    {
        "id": "e4dd0674c82114db",
        "type": "OPCUA-IIoT-Read",
        "z": "2788f53de6e70b96",
        "attributeId": 0,
        "maxAge": 1,
        "depth": 1,
        "connector": "1a2892f4d0c18669",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 130,
        "y": 500,
        "wires": [
            [
                "4617e4619ab02aa1"
            ]
        ]
    },
    {
        "id": "8bce4a8f1b3baa50",
        "type": "OPCUA-IIoT-Node",
        "z": "2788f53de6e70b96",
        "injectType": "read",
        "nodeId": "ns=4;s=MESData",
        "datatype": "",
        "value": "",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 130,
        "y": 460,
        "wires": [
            [
                "e4dd0674c82114db"
            ]
        ]
    },
    {
        "id": "8e9366d534ab81f1",
        "type": "OPCUA-IIoT-Inject",
        "z": "2788f53de6e70b96",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 130,
        "y": 420,
        "wires": [
            [
                "8bce4a8f1b3baa50"
            ]
        ]
    },
    {
        "id": "4617e4619ab02aa1",
        "type": "function",
        "z": "2788f53de6e70b96",
        "name": "172.20.3.20",
        "func": "msg.payload = msg.payload.value[0].value\nmsg.source=\"172.20.3.20\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 540,
        "wires": [
            [
                "786e0f51574fd1a1"
            ]
        ]
    },
    {
        "id": "61818f3ad890b2b2",
        "type": "OPCUA-IIoT-Write",
        "z": "2788f53de6e70b96",
        "connector": "eaa46e57b1eefbf3",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 230,
        "y": 960,
        "wires": [
            [
                "447d1a84e2590c4e"
            ]
        ]
    },
    {
        "id": "447d1a84e2590c4e",
        "type": "debug",
        "z": "2788f53de6e70b96",
        "name": "debug 64",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 960,
        "wires": []
    },
    {
        "id": "9ec474d17f6f9d70",
        "type": "debug",
        "z": "2788f53de6e70b96",
        "name": "debug 65",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 340,
        "y": 900,
        "wires": []
    },
    {
        "id": "c37471ddfaf96c8e",
        "type": "subflow:abe5ee3b6d18d879",
        "z": "2788f53de6e70b96",
        "name": "",
        "x": 160,
        "y": 900,
        "wires": [
            [
                "61818f3ad890b2b2"
            ],
            [
                "61818f3ad890b2b2"
            ],
            [
                "61818f3ad890b2b2",
                "9ec474d17f6f9d70"
            ]
        ]
    },
    {
        "id": "eb208ee60f5ad04a",
        "type": "OPCUA-IIoT-Read",
        "z": "2788f53de6e70b96",
        "attributeId": 0,
        "maxAge": 1,
        "depth": 1,
        "connector": "eaa46e57b1eefbf3",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 150,
        "y": 800,
        "wires": [
            [
                "98439a2d28ba6afd"
            ]
        ]
    },
    {
        "id": "e26631a9e33cba66",
        "type": "OPCUA-IIoT-Node",
        "z": "2788f53de6e70b96",
        "injectType": "read",
        "nodeId": "ns=4;s=MESData",
        "datatype": "",
        "value": "",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 150,
        "y": 760,
        "wires": [
            [
                "eb208ee60f5ad04a"
            ]
        ]
    },
    {
        "id": "ab1b4dbc0eff1aac",
        "type": "OPCUA-IIoT-Inject",
        "z": "2788f53de6e70b96",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 150,
        "y": 720,
        "wires": [
            [
                "e26631a9e33cba66"
            ]
        ]
    },
    {
        "id": "98439a2d28ba6afd",
        "type": "function",
        "z": "2788f53de6e70b96",
        "name": "172.20.3.30",
        "func": "msg.payload = msg.payload.value[0].value\nmsg.source=\"172.20.3.30\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 170,
        "y": 840,
        "wires": [
            [
                "c37471ddfaf96c8e"
            ]
        ]
    },
    {
        "id": "569eaa2fd3f2d855",
        "type": "OPCUA-IIoT-Write",
        "z": "2788f53de6e70b96",
        "connector": "b6fe4c78999e30bb",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 210,
        "y": 1280,
        "wires": [
            [
                "857588092c2b9bd9"
            ]
        ]
    },
    {
        "id": "857588092c2b9bd9",
        "type": "debug",
        "z": "2788f53de6e70b96",
        "name": "debug 66",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 380,
        "y": 1280,
        "wires": []
    },
    {
        "id": "386d63d5d5fe8901",
        "type": "debug",
        "z": "2788f53de6e70b96",
        "name": "debug 67",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 1220,
        "wires": []
    },
    {
        "id": "5120d65a44d81c84",
        "type": "subflow:abe5ee3b6d18d879",
        "z": "2788f53de6e70b96",
        "name": "",
        "x": 140,
        "y": 1220,
        "wires": [
            [
                "569eaa2fd3f2d855"
            ],
            [
                "569eaa2fd3f2d855"
            ],
            [
                "569eaa2fd3f2d855",
                "386d63d5d5fe8901"
            ]
        ]
    },
    {
        "id": "7aa5ff2e93b840b3",
        "type": "OPCUA-IIoT-Read",
        "z": "2788f53de6e70b96",
        "attributeId": 0,
        "maxAge": 1,
        "depth": 1,
        "connector": "b6fe4c78999e30bb",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": 1,
        "x": 130,
        "y": 1120,
        "wires": [
            [
                "3120340c383c7c39"
            ]
        ]
    },
    {
        "id": "41f84c03f2d32ff5",
        "type": "OPCUA-IIoT-Node",
        "z": "2788f53de6e70b96",
        "injectType": "read",
        "nodeId": "ns=4;s=MESData",
        "datatype": "",
        "value": "",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 130,
        "y": 1080,
        "wires": [
            [
                "7aa5ff2e93b840b3"
            ]
        ]
    },
    {
        "id": "6df05a4617049c2e",
        "type": "OPCUA-IIoT-Inject",
        "z": "2788f53de6e70b96",
        "injectType": "inject",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": false,
        "startDelay": "",
        "name": "",
        "addressSpaceItems": [],
        "x": 130,
        "y": 1040,
        "wires": [
            [
                "41f84c03f2d32ff5"
            ]
        ]
    },
    {
        "id": "3120340c383c7c39",
        "type": "function",
        "z": "2788f53de6e70b96",
        "name": "172.20.3.80",
        "func": "msg.payload = msg.payload.value[0].value\nmsg.source=\"172.20.3.80\"\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 150,
        "y": 1160,
        "wires": [
            [
                "5120d65a44d81c84"
            ]
        ]
    },
    {
        "id": "2ed7f55b6e0570fb",
        "type": "OPCUA-IIoT-Node",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "injectType": "write",
        "nodeId": "ns=4;s=MESData.MES在线心跳",
        "datatype": "Boolean",
        "value": "true",
        "name": "",
        "topic": "",
        "showErrors": false,
        "x": 450,
        "y": 1060,
        "wires": [
            [
                "da96703440adacba"
            ]
        ]
    },
    {
        "id": "2d4bfbcb557f4a0a",
        "type": "OPCUA-IIoT-Write",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "connector": "51e426ac73bfee54",
        "name": "opc.tcp://172.20.1.10:4840",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 860,
        "y": 520,
        "wires": [
            []
        ]
    },
    {
        "id": "466aae108c26641e",
        "type": "inject",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 380,
        "y": 960,
        "wires": [
            [
                "29ad80fea7ca7342"
            ]
        ]
    },
    {
        "id": "2ab50a54f66d2f63",
        "type": "OPCUA-IIoT-Write",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "connector": "86171c58f02f1f02",
        "name": "opc.tcp://172.20.1.20:4840",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 860,
        "y": 580,
        "wires": [
            []
        ]
    },
    {
        "id": "011b437fcb6047d6",
        "type": "OPCUA-IIoT-Write",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "connector": "30a546349af6db47",
        "name": "opc.tcp://172.20.1.30:4840",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 860,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "81cc5673e689c68c",
        "type": "OPCUA-IIoT-Write",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "connector": "6cdfd52e454e3efd",
        "name": "opc.tcp://172.20.1.40:4840",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 860,
        "y": 720,
        "wires": [
            []
        ]
    },
    {
        "id": "379ed376ccc54a40",
        "type": "OPCUA-IIoT-Write",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "connector": "05ce4bf46e47d87a",
        "name": "opc.tcp://172.20.1.50:4840",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 860,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "64cb8f6c6e7c8c66",
        "type": "OPCUA-IIoT-Write",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "connector": "b41a7d8e3780198c",
        "name": "opc.tcp://172.20.1.70:4840",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 860,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "d500eacc3f7e06f0",
        "type": "OPCUA-IIoT-Write",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "connector": "e479665d8a3dbb72",
        "name": "opc.tcp://172.20.1.80:4840",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 860,
        "y": 1000,
        "wires": [
            []
        ]
    },
    {
        "id": "d2c502fe7d9bc078",
        "type": "OPCUA-IIoT-Write",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "connector": "58dbba27a32b9481",
        "name": "opc.tcp://172.20.1.90:4840",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 860,
        "y": 1080,
        "wires": [
            []
        ]
    },
    {
        "id": "7b1b8bd07c2459d4",
        "type": "OPCUA-IIoT-Write",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "connector": "b664f4e92da70e97",
        "name": "opc.tcp://172.20.1.100:4840",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 860,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "85063804d23a642e",
        "type": "OPCUA-IIoT-Write",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "connector": "09457a6e359a3424",
        "name": "opc.tcp://172.20.1.110:4840",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 860,
        "y": 1180,
        "wires": [
            []
        ]
    },
    {
        "id": "57a4b1f7380fbe2d",
        "type": "OPCUA-IIoT-Write",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "connector": "283c347828dfacd8",
        "name": "opc.tcp://172.20.2.1:4840",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 850,
        "y": 1240,
        "wires": [
            []
        ]
    },
    {
        "id": "07dedcd51120d951",
        "type": "OPCUA-IIoT-Write",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "connector": "645e59572ad4aacf",
        "name": "opc.tcp://172.20.2.20:4840",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 860,
        "y": 1300,
        "wires": [
            []
        ]
    },
    {
        "id": "543f4365e7f0c634",
        "type": "OPCUA-IIoT-Write",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "connector": "e29a467af6981dfb",
        "name": "opc.tcp://172.20.2.40:4840",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 860,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "c33b3a2f39a393bd",
        "type": "OPCUA-IIoT-Write",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "connector": "1a2892f4d0c18669",
        "name": "opc.tcp://172.20.3.20:4840",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 860,
        "y": 1560,
        "wires": [
            []
        ]
    },
    {
        "id": "5ec043c1b7f050e2",
        "type": "OPCUA-IIoT-Write",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "connector": "eaa46e57b1eefbf3",
        "name": "opc.tcp://172.20.3.30:4840",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 860,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "36e4c0a51c287433",
        "type": "OPCUA-IIoT-Write",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "connector": "b6fe4c78999e30bb",
        "name": "opc.tcp://172.20.2.80:4840",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 860,
        "y": 1700,
        "wires": [
            []
        ]
    },
    {
        "id": "96adeda57caf5c83",
        "type": "OPCUA-IIoT-Write",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "connector": "5bf150fd8bf7916d",
        "name": "opc.tcp://172.20.3.10:4840",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 860,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "29ad80fea7ca7342",
        "type": "trigger",
        "z": "f9e4658b47fbda08",
        "g": "199a0bd0af27c428",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "-500",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 430,
        "y": 1020,
        "wires": [
            [
                "2ed7f55b6e0570fb"
            ]
        ]
    }
]
