祥晋RS20230150.json
[
    {
        "id": "7eb6f28e.e22c7c",
        "type": "tab",
        "label": "IIoT Browse And Read",
        "disabled": false,
        "info": ""
    },
    {
        "id": "18e79543.505653",
        "type": "OPCUA-IIoT-Browser",
        "z": "7eb6f28e.e22c7c",
        "nodeId": "",
        "name": "",
        "justValue": true,
        "sendNodesToRead": true,
        "sendNodesToBrowser": false,
        "sendNodesToListener": false,
        "multipleOutputs": false,
        "showStatusActivities": false,
        "showErrors": false,
        "recursiveBrowse": false,
        "recursiveDepth": "",
        "delayPerMessage": "",
        "connector": "611863eb74333c76",
        "x": 340,
        "y": 120,
        "wires": [
            [
                "40266dba.f35504"
            ]
        ]
    },
    {
        "id": "df37ba3f.22cb4",
        "type": "OPCUA-IIoT-Inject",
        "z": "7eb6f28e.e22c7c",
        "injectType": "read",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "repeat": "1",
        "crontab": "",
        "once": true,
        "startDelay": "",
        "name": "Root",
        "addressSpaceItems": [
            {
                "name": "小车数据",
                "nodeId": "ns=4;i=1",
                "datatypeName": ""
            }
        ],
        "x": 150,
        "y": 120,
        "wires": [
            [
                "18e79543.505653",
                "1593f0aa.539747"
            ]
        ]
    },
    {
        "id": "40266dba.f35504",
        "type": "OPCUA-IIoT-Read",
        "z": "7eb6f28e.e22c7c",
        "attributeId": "0",
        "maxAge": "0",
        "depth": 1,
        "connector": "611863eb74333c76",
        "name": "Read browsed All",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "parseStrings": false,
        "historyDays": "",
        "x": 550,
        "y": 240,
        "wires": [
            [
                "912a0a0c.1f6d68",
                "e1518e65.e21198"
            ]
        ]
    },
    {
        "id": "912a0a0c.1f6d68",
        "type": "OPCUA-IIoT-Response",
        "z": "7eb6f28e.e22c7c",
        "name": "",
        "compressStructure": false,
        "showStatusActivities": false,
        "showErrors": false,
        "activateUnsetFilter": false,
        "activateFilters": false,
        "negateFilter": false,
        "filters": [],
        "x": 760,
        "y": 240,
        "wires": [
            [
                "9cee49a7.939a8"
            ]
        ]
    },
    {
        "id": "9cee49a7.939a8",
        "type": "debug",
        "z": "7eb6f28e.e22c7c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 930,
        "y": 240,
        "wires": []
    },
    {
        "id": "1593f0aa.539747",
        "type": "debug",
        "z": "7eb6f28e.e22c7c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 310,
        "y": 200,
        "wires": []
    },
    {
        "id": "8b3826c1.e80288",
        "type": "comment",
        "z": "7eb6f28e.e22c7c",
        "name": "Use Demo Server Example",
        "info": "Please use the Demo Server example for this example to work.\nImport that with strg+i -> Examples -> opcuaIIoT -> Server -> Demo Server",
        "x": 710,
        "y": 60,
        "wires": []
    },
    {
        "id": "e1518e65.e21198",
        "type": "OPCUA-IIoT-Response",
        "z": "7eb6f28e.e22c7c",
        "name": "compressed response",
        "compressStructure": true,
        "showStatusActivities": false,
        "showErrors": false,
        "activateUnsetFilter": false,
        "activateFilters": false,
        "negateFilter": false,
        "filters": [],
        "x": 730,
        "y": 320,
        "wires": [
            [
                "3500d255.8f5636",
                "5e455b9d55c7dcd0"
            ]
        ]
    },
    {
        "id": "3500d255.8f5636",
        "type": "debug",
        "z": "7eb6f28e.e22c7c",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 990,
        "y": 300,
        "wires": []
    },
    {
        "id": "5e455b9d55c7dcd0",
        "type": "function",
        "z": "7eb6f28e.e22c7c",
        "name": "function 1",
        "func": "let obj={}\nfor (const iterator of msg.payload.value) {\n    obj[iterator.browseName.name] = iterator.value\n}\nglobal.set(\"plcdata\",obj)\nmsg.payload=obj\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 960,
        "y": 380,
        "wires": [
            [
                "7064024264d581b0"
            ]
        ]
    },
    {
        "id": "504bc25125e9e9c6",
        "type": "function",
        "z": "7eb6f28e.e22c7c",
        "name": "function 2",
        "func": "\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 780,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "7064024264d581b0",
        "type": "function",
        "z": "7eb6f28e.e22c7c",
        "name": "完成信号",
        "func": "let prevalue=context.get(\"清除完成\")||0\nif (msg.payload[\"清除完成\"]==1&&prevalue!==1){\n    node.send(msg)\n}\ncontext.set(\"清除完成\", msg.payload[\"清除完成\"])",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1160,
        "y": 420,
        "wires": [
            [
                "26cc5a8075035220",
                "3cf401e942e62266"
            ]
        ]
    },
    {
        "id": "26cc5a8075035220",
        "type": "function",
        "z": "7eb6f28e.e22c7c",
        "name": "apidata",
        "func": "let plc = msg.payload\nlet i = plc[\"当前停靠的小车编号\"]\nlet code = plc[\"小车二维码\"][i][\"当前小车二维码数据\"]\nlet station = \"环线检测\"\nlet obj = {\n    code, station, ...plc[\"小车数据\"][i]\n    , ...plc[\"焊接小车数据\"][i],\n    ...plc[\"电性能小车数据\"][i],\n    ...plc[\"小车张力数据\"][i]\n}\nmsg.payload = obj\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 460,
        "wires": [
            [
                "78f9d24971cb5411",
                "03ee200b14343420"
            ]
        ]
    },
    {
        "id": "78f9d24971cb5411",
        "type": "OPCUA-IIoT-Node",
        "z": "7eb6f28e.e22c7c",
        "injectType": "write",
        "nodeId": "ns=4;i=1145",
        "datatype": "Int16",
        "value": "2",
        "name": "ns=4;i=566",
        "topic": "",
        "showErrors": false,
        "x": 1490,
        "y": 460,
        "wires": [
            [
                "7e8d430bc900174c"
            ]
        ]
    },
    {
        "id": "7e8d430bc900174c",
        "type": "OPCUA-IIoT-Write",
        "z": "7eb6f28e.e22c7c",
        "connector": "611863eb74333c76",
        "name": "",
        "justValue": true,
        "showStatusActivities": false,
        "showErrors": false,
        "x": 1650,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "03ee200b14343420",
        "type": "http request",
        "z": "7eb6f28e.e22c7c",
        "name": "",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "http://127.0.0.1:5000/api/testData/JSON",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [
            {
                "keyType": "Content-Type",
                "keyValue": "",
                "valueType": "application/json",
                "valueValue": ""
            }
        ],
        "x": 1460,
        "y": 560,
        "wires": [
            [
                "7a4b48ce561f7138"
            ]
        ]
    },
    {
        "id": "7a4b48ce561f7138",
        "type": "debug",
        "z": "7eb6f28e.e22c7c",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1620,
        "y": 560,
        "wires": []
    },
    {
        "id": "3cf401e942e62266",
        "type": "debug",
        "z": "7eb6f28e.e22c7c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1330,
        "y": 360,
        "wires": []
    },
    {
        "id": "268aaeaf3e48cbe0",
        "type": "inject",
        "z": "7eb6f28e.e22c7c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"当前停靠的小车编号\":0,\"清除完成\":1,\"小车数据\":[{\"焊接引导相机判定结果\":0,\"焊接结果\":0,\"相机正检判定结果\":0,\"相机正检孔位置度\":0,\"相机侧检判定结果\":0,\"包胶结果\":0,\"性能测试结果\":0,\"焊接引导X轴补偿数据\":0,\"焊接引导Y轴补偿数据\":0,\"相机正检焊接后PIN尺寸\":0,\"相机正检焊接后PIN间距\":0,\"相机正检骨架宽度\":0,\"相机正检左侧PIN伸出长度\":0,\"相机正检右侧PIN伸出长度\":0,\"相机正检PIN到中心的距离\":0,\"相机侧检PIN高度\":0,\"相机侧检骨架宽度\":0,\"相机侧检PIN到骨架中心距离\":0,\"相机侧检线圈宽度\":0},{\"焊接引导相机判定结果\":0,\"焊接结果\":0,\"相机正检判定结果\":0,\"相机正检孔位置度\":0,\"相机侧检判定结果\":0,\"包胶结果\":0,\"性能测试结果\":0,\"焊接引导X轴补偿数据\":0,\"焊接引导Y轴补偿数据\":0,\"相机正检焊接后PIN尺寸\":0,\"相机正检焊接后PIN间距\":0,\"相机正检骨架宽度\":0,\"相机正检左侧PIN伸出长度\":0,\"相机正检右侧PIN伸出长度\":0,\"相机正检PIN到中心的距离\":0,\"相机侧检PIN高度\":0,\"相机侧检骨架宽度\":0,\"相机侧检PIN到骨架中心距离\":0,\"相机侧检线圈宽度\":0},{\"焊接引导相机判定结果\":0,\"焊接结果\":0,\"相机正检判定结果\":0,\"相机正检孔位置度\":0,\"相机侧检判定结果\":0,\"包胶结果\":0,\"性能测试结果\":0,\"焊接引导X轴补偿数据\":0,\"焊接引导Y轴补偿数据\":0,\"相机正检焊接后PIN尺寸\":0,\"相机正检焊接后PIN间距\":0,\"相机正检骨架宽度\":0,\"相机正检左侧PIN伸出长度\":0,\"相机正检右侧PIN伸出长度\":0,\"相机正检PIN到中心的距离\":0,\"相机侧检PIN高度\":0,\"相机侧检骨架宽度\":0,\"相机侧检PIN到骨架中心距离\":0,\"相机侧检线圈宽度\":0},{\"焊接引导相机判定结果\":0,\"焊接结果\":0,\"相机正检判定结果\":0,\"相机正检孔位置度\":0,\"相机侧检判定结果\":0,\"包胶结果\":0,\"性能测试结果\":0,\"焊接引导X轴补偿数据\":0,\"焊接引导Y轴补偿数据\":0,\"相机正检焊接后PIN尺寸\":0,\"相机正检焊接后PIN间距\":0,\"相机正检骨架宽度\":0,\"相机正检左侧PIN伸出长度\":0,\"相机正检右侧PIN伸出长度\":0,\"相机正检PIN到中心的距离\":0,\"相机侧检PIN高度\":0,\"相机侧检骨架宽度\":0,\"相机侧检PIN到骨架中心距离\":0,\"相机侧检线圈宽度\":0},{\"焊接引导相机判定结果\":0,\"焊接结果\":0,\"相机正检判定结果\":0,\"相机正检孔位置度\":0,\"相机侧检判定结果\":0,\"包胶结果\":0,\"性能测试结果\":0,\"焊接引导X轴补偿数据\":0,\"焊接引导Y轴补偿数据\":0,\"相机正检焊接后PIN尺寸\":0,\"相机正检焊接后PIN间距\":0,\"相机正检骨架宽度\":0,\"相机正检左侧PIN伸出长度\":0,\"相机正检右侧PIN伸出长度\":0,\"相机正检PIN到中心的距离\":0,\"相机侧检PIN高度\":0,\"相机侧检骨架宽度\":0,\"相机侧检PIN到骨架中心距离\":0,\"相机侧检线圈宽度\":0},{\"焊接引导相机判定结果\":0,\"焊接结果\":0,\"相机正检判定结果\":0,\"相机正检孔位置度\":0,\"相机侧检判定结果\":0,\"包胶结果\":0,\"性能测试结果\":0,\"焊接引导X轴补偿数据\":0,\"焊接引导Y轴补偿数据\":0,\"相机正检焊接后PIN尺寸\":0,\"相机正检焊接后PIN间距\":0,\"相机正检骨架宽度\":0,\"相机正检左侧PIN伸出长度\":0,\"相机正检右侧PIN伸出长度\":0,\"相机正检PIN到中心的距离\":0,\"相机侧检PIN高度\":0,\"相机侧检骨架宽度\":0,\"相机侧检PIN到骨架中心距离\":0,\"相机侧检线圈宽度\":0},{\"焊接引导相机判定结果\":0,\"焊接结果\":0,\"相机正检判定结果\":0,\"相机正检孔位置度\":0,\"相机侧检判定结果\":0,\"包胶结果\":0,\"性能测试结果\":0,\"焊接引导X轴补偿数据\":0,\"焊接引导Y轴补偿数据\":0,\"相机正检焊接后PIN尺寸\":0,\"相机正检焊接后PIN间距\":0,\"相机正检骨架宽度\":0,\"相机正检左侧PIN伸出长度\":0,\"相机正检右侧PIN伸出长度\":0,\"相机正检PIN到中心的距离\":0,\"相机侧检PIN高度\":0,\"相机侧检骨架宽度\":0,\"相机侧检PIN到骨架中心距离\":0,\"相机侧检线圈宽度\":0},{\"焊接引导相机判定结果\":0,\"焊接结果\":0,\"相机正检判定结果\":0,\"相机正检孔位置度\":0,\"相机侧检判定结果\":0,\"包胶结果\":0,\"性能测试结果\":0,\"焊接引导X轴补偿数据\":0,\"焊接引导Y轴补偿数据\":0,\"相机正检焊接后PIN尺寸\":0,\"相机正检焊接后PIN间距\":0,\"相机正检骨架宽度\":0,\"相机正检左侧PIN伸出长度\":0,\"相机正检右侧PIN伸出长度\":0,\"相机正检PIN到中心的距离\":0,\"相机侧检PIN高度\":0,\"相机侧检骨架宽度\":0,\"相机侧检PIN到骨架中心距离\":0,\"相机侧检线圈宽度\":0},{\"焊接引导相机判定结果\":0,\"焊接结果\":0,\"相机正检判定结果\":0,\"相机正检孔位置度\":0,\"相机侧检判定结果\":0,\"包胶结果\":0,\"性能测试结果\":0,\"焊接引导X轴补偿数据\":0,\"焊接引导Y轴补偿数据\":0,\"相机正检焊接后PIN尺寸\":0,\"相机正检焊接后PIN间距\":0,\"相机正检骨架宽度\":0,\"相机正检左侧PIN伸出长度\":0,\"相机正检右侧PIN伸出长度\":0,\"相机正检PIN到中心的距离\":0,\"相机侧检PIN高度\":0,\"相机侧检骨架宽度\":0,\"相机侧检PIN到骨架中心距离\":0,\"相机侧检线圈宽度\":0},{\"焊接引导相机判定结果\":0,\"焊接结果\":0,\"相机正检判定结果\":0,\"相机正检孔位置度\":0,\"相机侧检判定结果\":0,\"包胶结果\":0,\"性能测试结果\":0,\"焊接引导X轴补偿数据\":0,\"焊接引导Y轴补偿数据\":0,\"相机正检焊接后PIN尺寸\":0,\"相机正检焊接后PIN间距\":0,\"相机正检骨架宽度\":0,\"相机正检左侧PIN伸出长度\":0,\"相机正检右侧PIN伸出长度\":0,\"相机正检PIN到中心的距离\":0,\"相机侧检PIN高度\":0,\"相机侧检骨架宽度\":0,\"相机侧检PIN到骨架中心距离\":0,\"相机侧检线圈宽度\":0},{\"焊接引导相机判定结果\":0,\"焊接结果\":0,\"相机正检判定结果\":0,\"相机正检孔位置度\":0,\"相机侧检判定结果\":0,\"包胶结果\":0,\"性能测试结果\":0,\"焊接引导X轴补偿数据\":0,\"焊接引导Y轴补偿数据\":0,\"相机正检焊接后PIN尺寸\":0,\"相机正检焊接后PIN间距\":0,\"相机正检骨架宽度\":0,\"相机正检左侧PIN伸出长度\":0,\"相机正检右侧PIN伸出长度\":0,\"相机正检PIN到中心的距离\":0,\"相机侧检PIN高度\":0,\"相机侧检骨架宽度\":0,\"相机侧检PIN到骨架中心距离\":0,\"相机侧检线圈宽度\":0}],\"焊接小车数据\":[{\"焊接第一次搜索强度力um后到部件的距离\":\"\",\"焊接第一次焊接后到零件的距离\":\"\",\"焊接第一次电流脉冲峰值KA\":\"\",\"焊接第一次RMS电流脉冲峰值KA\":\"\",\"焊接第一次电压脉冲峰值\":\"\",\"焊接第一次RMS电压脉冲峰值\":\"\",\"焊接第一次功率脉冲峰值\":\"\",\"焊接第二次搜索强度力um后到部件的距离\":\"\",\"焊接第二次焊接后到零件的距离\":\"\",\"焊接第二次电流脉冲峰值KA\":\"\",\"焊接第二次RMS电流脉冲峰值KA\":\"\",\"焊接第二次电压脉冲峰值\":\"\",\"焊接第二次RMS电压脉冲峰值\":\"\",\"焊接第二次功率脉冲峰值\":\"\",\"S3-1焊接后熔接位移量\":\"\",\"S3-2焊接后熔接位移量\":\"\"},{\"焊接第一次搜索强度力um后到部件的距离\":\"\",\"焊接第一次焊接后到零件的距离\":\"\",\"焊接第一次电流脉冲峰值KA\":\"\",\"焊接第一次RMS电流脉冲峰值KA\":\"\",\"焊接第一次电压脉冲峰值\":\"\",\"焊接第一次RMS电压脉冲峰值\":\"\",\"焊接第一次功率脉冲峰值\":\"\",\"焊接第二次搜索强度力um后到部件的距离\":\"\",\"焊接第二次焊接后到零件的距离\":\"\",\"焊接第二次电流脉冲峰值KA\":\"\",\"焊接第二次RMS电流脉冲峰值KA\":\"\",\"焊接第二次电压脉冲峰值\":\"\",\"焊接第二次RMS电压脉冲峰值\":\"\",\"焊接第二次功率脉冲峰值\":\"\",\"S3-1焊接后熔接位移量\":\"\",\"S3-2焊接后熔接位移量\":\"\"},{\"焊接第一次搜索强度力um后到部件的距离\":\"\",\"焊接第一次焊接后到零件的距离\":\"\",\"焊接第一次电流脉冲峰值KA\":\"\",\"焊接第一次RMS电流脉冲峰值KA\":\"\",\"焊接第一次电压脉冲峰值\":\"\",\"焊接第一次RMS电压脉冲峰值\":\"\",\"焊接第一次功率脉冲峰值\":\"\",\"焊接第二次搜索强度力um后到部件的距离\":\"\",\"焊接第二次焊接后到零件的距离\":\"\",\"焊接第二次电流脉冲峰值KA\":\"\",\"焊接第二次RMS电流脉冲峰值KA\":\"\",\"焊接第二次电压脉冲峰值\":\"\",\"焊接第二次RMS电压脉冲峰值\":\"\",\"焊接第二次功率脉冲峰值\":\"\",\"S3-1焊接后熔接位移量\":\"\",\"S3-2焊接后熔接位移量\":\"\"},{\"焊接第一次搜索强度力um后到部件的距离\":\"\",\"焊接第一次焊接后到零件的距离\":\"\",\"焊接第一次电流脉冲峰值KA\":\"\",\"焊接第一次RMS电流脉冲峰值KA\":\"\",\"焊接第一次电压脉冲峰值\":\"\",\"焊接第一次RMS电压脉冲峰值\":\"\",\"焊接第一次功率脉冲峰值\":\"\",\"焊接第二次搜索强度力um后到部件的距离\":\"\",\"焊接第二次焊接后到零件的距离\":\"\",\"焊接第二次电流脉冲峰值KA\":\"\",\"焊接第二次RMS电流脉冲峰值KA\":\"\",\"焊接第二次电压脉冲峰值\":\"\",\"焊接第二次RMS电压脉冲峰值\":\"\",\"焊接第二次功率脉冲峰值\":\"\",\"S3-1焊接后熔接位移量\":\"\",\"S3-2焊接后熔接位移量\":\"\"},{\"焊接第一次搜索强度力um后到部件的距离\":\"\",\"焊接第一次焊接后到零件的距离\":\"\",\"焊接第一次电流脉冲峰值KA\":\"\",\"焊接第一次RMS电流脉冲峰值KA\":\"\",\"焊接第一次电压脉冲峰值\":\"\",\"焊接第一次RMS电压脉冲峰值\":\"\",\"焊接第一次功率脉冲峰值\":\"\",\"焊接第二次搜索强度力um后到部件的距离\":\"\",\"焊接第二次焊接后到零件的距离\":\"\",\"焊接第二次电流脉冲峰值KA\":\"\",\"焊接第二次RMS电流脉冲峰值KA\":\"\",\"焊接第二次电压脉冲峰值\":\"\",\"焊接第二次RMS电压脉冲峰值\":\"\",\"焊接第二次功率脉冲峰值\":\"\",\"S3-1焊接后熔接位移量\":\"\",\"S3-2焊接后熔接位移量\":\"\"},{\"焊接第一次搜索强度力um后到部件的距离\":\"\",\"焊接第一次焊接后到零件的距离\":\"\",\"焊接第一次电流脉冲峰值KA\":\"\",\"焊接第一次RMS电流脉冲峰值KA\":\"\",\"焊接第一次电压脉冲峰值\":\"\",\"焊接第一次RMS电压脉冲峰值\":\"\",\"焊接第一次功率脉冲峰值\":\"\",\"焊接第二次搜索强度力um后到部件的距离\":\"\",\"焊接第二次焊接后到零件的距离\":\"\",\"焊接第二次电流脉冲峰值KA\":\"\",\"焊接第二次RMS电流脉冲峰值KA\":\"\",\"焊接第二次电压脉冲峰值\":\"\",\"焊接第二次RMS电压脉冲峰值\":\"\",\"焊接第二次功率脉冲峰值\":\"\",\"S3-1焊接后熔接位移量\":\"\",\"S3-2焊接后熔接位移量\":\"\"},{\"焊接第一次搜索强度力um后到部件的距离\":\"\",\"焊接第一次焊接后到零件的距离\":\"\",\"焊接第一次电流脉冲峰值KA\":\"\",\"焊接第一次RMS电流脉冲峰值KA\":\"\",\"焊接第一次电压脉冲峰值\":\"\",\"焊接第一次RMS电压脉冲峰值\":\"\",\"焊接第一次功率脉冲峰值\":\"\",\"焊接第二次搜索强度力um后到部件的距离\":\"\",\"焊接第二次焊接后到零件的距离\":\"\",\"焊接第二次电流脉冲峰值KA\":\"\",\"焊接第二次RMS电流脉冲峰值KA\":\"\",\"焊接第二次电压脉冲峰值\":\"\",\"焊接第二次RMS电压脉冲峰值\":\"\",\"焊接第二次功率脉冲峰值\":\"\",\"S3-1焊接后熔接位移量\":\"\",\"S3-2焊接后熔接位移量\":\"\"},{\"焊接第一次搜索强度力um后到部件的距离\":\"\",\"焊接第一次焊接后到零件的距离\":\"\",\"焊接第一次电流脉冲峰值KA\":\"\",\"焊接第一次RMS电流脉冲峰值KA\":\"\",\"焊接第一次电压脉冲峰值\":\"\",\"焊接第一次RMS电压脉冲峰值\":\"\",\"焊接第一次功率脉冲峰值\":\"\",\"焊接第二次搜索强度力um后到部件的距离\":\"\",\"焊接第二次焊接后到零件的距离\":\"\",\"焊接第二次电流脉冲峰值KA\":\"\",\"焊接第二次RMS电流脉冲峰值KA\":\"\",\"焊接第二次电压脉冲峰值\":\"\",\"焊接第二次RMS电压脉冲峰值\":\"\",\"焊接第二次功率脉冲峰值\":\"\",\"S3-1焊接后熔接位移量\":\"\",\"S3-2焊接后熔接位移量\":\"\"},{\"焊接第一次搜索强度力um后到部件的距离\":\"\",\"焊接第一次焊接后到零件的距离\":\"\",\"焊接第一次电流脉冲峰值KA\":\"\",\"焊接第一次RMS电流脉冲峰值KA\":\"\",\"焊接第一次电压脉冲峰值\":\"\",\"焊接第一次RMS电压脉冲峰值\":\"\",\"焊接第一次功率脉冲峰值\":\"\",\"焊接第二次搜索强度力um后到部件的距离\":\"\",\"焊接第二次焊接后到零件的距离\":\"\",\"焊接第二次电流脉冲峰值KA\":\"\",\"焊接第二次RMS电流脉冲峰值KA\":\"\",\"焊接第二次电压脉冲峰值\":\"\",\"焊接第二次RMS电压脉冲峰值\":\"\",\"焊接第二次功率脉冲峰值\":\"\",\"S3-1焊接后熔接位移量\":\"\",\"S3-2焊接后熔接位移量\":\"\"},{\"焊接第一次搜索强度力um后到部件的距离\":\"\",\"焊接第一次焊接后到零件的距离\":\"\",\"焊接第一次电流脉冲峰值KA\":\"\",\"焊接第一次RMS电流脉冲峰值KA\":\"\",\"焊接第一次电压脉冲峰值\":\"\",\"焊接第一次RMS电压脉冲峰值\":\"\",\"焊接第一次功率脉冲峰值\":\"\",\"焊接第二次搜索强度力um后到部件的距离\":\"\",\"焊接第二次焊接后到零件的距离\":\"\",\"焊接第二次电流脉冲峰值KA\":\"\",\"焊接第二次RMS电流脉冲峰值KA\":\"\",\"焊接第二次电压脉冲峰值\":\"\",\"焊接第二次RMS电压脉冲峰值\":\"\",\"焊接第二次功率脉冲峰值\":\"\",\"S3-1焊接后熔接位移量\":\"\",\"S3-2焊接后熔接位移量\":\"\"},{\"焊接第一次搜索强度力um后到部件的距离\":\"\",\"焊接第一次焊接后到零件的距离\":\"\",\"焊接第一次电流脉冲峰值KA\":\"\",\"焊接第一次RMS电流脉冲峰值KA\":\"\",\"焊接第一次电压脉冲峰值\":\"\",\"焊接第一次RMS电压脉冲峰值\":\"\",\"焊接第一次功率脉冲峰值\":\"\",\"焊接第二次搜索强度力um后到部件的距离\":\"\",\"焊接第二次焊接后到零件的距离\":\"\",\"焊接第二次电流脉冲峰值KA\":\"\",\"焊接第二次RMS电流脉冲峰值KA\":\"\",\"焊接第二次电压脉冲峰值\":\"\",\"焊接第二次RMS电压脉冲峰值\":\"\",\"焊接第二次功率脉冲峰值\":\"\",\"S3-1焊接后熔接位移量\":\"\",\"S3-2焊接后熔接位移量\":\"\"}],\"电性能小车数据\":[{\"线圈电阻\":0,\"线圈电阻小数位\":0,\"耐压电压\":0,\"耐压漏电流\":0,\"绝缘电压\":0,\"绝缘电阻\":0,\"匝间面积\":0,\"匝间差积\":0,\"电阻是否合格\":0,\"耐压是否合格\":0,\"绝缘是否合格\":0,\"匝间是否合格\":0},{\"线圈电阻\":0,\"线圈电阻小数位\":0,\"耐压电压\":0,\"耐压漏电流\":0,\"绝缘电压\":0,\"绝缘电阻\":0,\"匝间面积\":0,\"匝间差积\":0,\"电阻是否合格\":0,\"耐压是否合格\":0,\"绝缘是否合格\":0,\"匝间是否合格\":0},{\"线圈电阻\":0,\"线圈电阻小数位\":0,\"耐压电压\":0,\"耐压漏电流\":0,\"绝缘电压\":0,\"绝缘电阻\":0,\"匝间面积\":0,\"匝间差积\":0,\"电阻是否合格\":0,\"耐压是否合格\":0,\"绝缘是否合格\":0,\"匝间是否合格\":0},{\"线圈电阻\":0,\"线圈电阻小数位\":0,\"耐压电压\":0,\"耐压漏电流\":0,\"绝缘电压\":0,\"绝缘电阻\":0,\"匝间面积\":0,\"匝间差积\":0,\"电阻是否合格\":0,\"耐压是否合格\":0,\"绝缘是否合格\":0,\"匝间是否合格\":0},{\"线圈电阻\":0,\"线圈电阻小数位\":0,\"耐压电压\":0,\"耐压漏电流\":0,\"绝缘电压\":0,\"绝缘电阻\":0,\"匝间面积\":0,\"匝间差积\":0,\"电阻是否合格\":0,\"耐压是否合格\":0,\"绝缘是否合格\":0,\"匝间是否合格\":0},{\"线圈电阻\":0,\"线圈电阻小数位\":0,\"耐压电压\":0,\"耐压漏电流\":0,\"绝缘电压\":0,\"绝缘电阻\":0,\"匝间面积\":0,\"匝间差积\":0,\"电阻是否合格\":0,\"耐压是否合格\":0,\"绝缘是否合格\":0,\"匝间是否合格\":0},{\"线圈电阻\":0,\"线圈电阻小数位\":0,\"耐压电压\":0,\"耐压漏电流\":0,\"绝缘电压\":0,\"绝缘电阻\":0,\"匝间面积\":0,\"匝间差积\":0,\"电阻是否合格\":0,\"耐压是否合格\":0,\"绝缘是否合格\":0,\"匝间是否合格\":0},{\"线圈电阻\":0,\"线圈电阻小数位\":0,\"耐压电压\":0,\"耐压漏电流\":0,\"绝缘电压\":0,\"绝缘电阻\":0,\"匝间面积\":0,\"匝间差积\":0,\"电阻是否合格\":0,\"耐压是否合格\":0,\"绝缘是否合格\":0,\"匝间是否合格\":0},{\"线圈电阻\":0,\"线圈电阻小数位\":0,\"耐压电压\":0,\"耐压漏电流\":0,\"绝缘电压\":0,\"绝缘电阻\":0,\"匝间面积\":0,\"匝间差积\":0,\"电阻是否合格\":0,\"耐压是否合格\":0,\"绝缘是否合格\":0,\"匝间是否合格\":0},{\"线圈电阻\":0,\"线圈电阻小数位\":0,\"耐压电压\":0,\"耐压漏电流\":0,\"绝缘电压\":0,\"绝缘电阻\":0,\"匝间面积\":0,\"匝间差积\":0,\"电阻是否合格\":0,\"耐压是否合格\":0,\"绝缘是否合格\":0,\"匝间是否合格\":0},{\"线圈电阻\":0,\"线圈电阻小数位\":0,\"耐压电压\":0,\"耐压漏电流\":0,\"绝缘电压\":0,\"绝缘电阻\":0,\"匝间面积\":0,\"匝间差积\":0,\"电阻是否合格\":0,\"耐压是否合格\":0,\"绝缘是否合格\":0,\"匝间是否合格\":0}],\"小车张力数据\":[{\"当前张力值\":50},{\"当前张力值\":60},{\"当前张力值\":0},{\"当前张力值\":0},{\"当前张力值\":0},{\"当前张力值\":0},{\"当前张力值\":0},{\"当前张力值\":0},{\"当前张力值\":0},{\"当前张力值\":0},{\"当前张力值\":0}]}",
        "payloadType": "json",
        "x": 1070,
        "y": 500,
        "wires": [
            [
                "26cc5a8075035220"
            ]
        ]
    },
    {
        "id": "9f62343be7ae7812",
        "type": "exec",
        "z": "7eb6f28e.e22c7c",
        "command": "pm2 flush",
        "addpay": "",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": true,
        "oldrc": false,
        "name": "",
        "x": 720,
        "y": 560,
        "wires": [
            [
                "4c62f6b008b3775b"
            ],
            [
                "4c62f6b008b3775b"
            ],
            [
                "4c62f6b008b3775b"
            ]
        ]
    },
    {
        "id": "31e3e24ea3220aa8",
        "type": "inject",
        "z": "7eb6f28e.e22c7c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "600",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 520,
        "y": 540,
        "wires": [
            [
                "9f62343be7ae7812"
            ]
        ]
    },
    {
        "id": "4c62f6b008b3775b",
        "type": "debug",
        "z": "7eb6f28e.e22c7c",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 600,
        "wires": []
    },
    {
        "id": "611863eb74333c76",
        "type": "OPCUA-IIoT-Connector",
        "discoveryUrl": "",
        "endpoint": "opc.tcp://192.168.1.10:4840/",
        "endpointMustExist": false,
        "keepSessionAlive": true,
        "loginEnabled": false,
        "name": "plc",
        "showErrors": true,
        "securityPolicy": "None",
        "securityMode": "None",
        "individualCerts": false,
        "publicCertificateFile": "",
        "privateKeyFile": "",
        "defaultSecureTokenLifetime": "",
        "autoSelectRightEndpoint": false,
        "strategyMaxRetry": "",
        "strategyInitialDelay": "",
        "strategyMaxDelay": "",
        "strategyRandomisationFactor": "",
        "requestedSessionTimeout": "",
        "connectionStartDelay": "",
        "reconnectDelay": "",
        "maxBadSessionRequests": "10"
    }
]